<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/adminLayout.xhtml">
            <h:form>
                <p:remoteCommand name="onload" action="#{addFestivalController.goToStep(1)}" autoRun="true" />
            </h:form>
            <ui:define name="content">
                <h2 style="text-align: center; margin:auto; margin-bottom: 20px"> Add new festival</h2>
                <h:panelGroup class="ui-fluid" style="margin: auto; max-width: 800px" id="steps">
                    <h:form id="stepsForm">
                        <p:steps activeIndex="1" styleClass="customSteps" readonly="false">
                            <p:menuitem value="#{addFestivalController.getStep(0)}"
                                        url="addFestivalBasicInfo.xhtml"
                                        ajax="false"/>
                            <p:menuitem value="#{addFestivalController.getStep(1)}"
                                        url="addFestivalSchedule.xhtml"
                                        ajax="false"/>
                            <p:menuitem value="#{addFestivalController.getStep(2)}"
                                        url="addFestivalGallery.xhtml"
                                        ajax="false"/>
                        </p:steps>
                    </h:form>
                </h:panelGroup>
                <h:panelGroup id="secondStep" class="ui-fluid addFestStep" >
                    <h3 class="centerItem" style="margin-top: 80px;"> Schedule </h3>
                    <hr class="centerItem" style="margin-bottom: 20px;"/>
                    <div class="ui-g centerItem">
                        <div class="ui-g" style="width: 100%">
                            <h:form id="addScheduleForm" style="width:100%">
                                <p:messages styleClass="errorMessage"/>
                                <p:outputLabel id="globalErrorMessageLevelTwo" value="#{addFestivalController.errorMessage}" styleClass="errorMessage"/>
                                <h:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8"  class="ui-g-12 ui-md-9 ui-lg-9">
                                    <p:outputLabel for="performer" value="Performer"/>
                                    <p:autoComplete id="performer" value="#{addFestivalController.model.performerName}"
                                                    completeMethod="#{addFestivalController.completePerformerName}"
                                                    required="true"
                                                    requiredMessage="Performer is required"/>

                                    <p:outputLabel for="day" value="Day"/>
                                    <p:selectOneMenu id="day" value="#{addFestivalController.model.performanceFestDay}" effect="fold">
                                        <f:selectItems value="#{addFestivalController.model.days}" var="dayVar" itemLabel="#{dayVar}" itemValue="#{dayVar}"/>
                                    </p:selectOneMenu>

                                    <p:outputLabel for="startTime" value="Start time"/>
                                    <p:calendar id="startTime" timeOnly="true" pattern="HH:mm" value="#{addFestivalController.model.startTime}"
                                                required="true" requiredMessage="Start time is required"
                                                />

                                    <p:outputLabel for="endTime" value="End time"/>
                                    <p:calendar id="endTime" timeOnly="true" pattern="HH:mm" value="#{addFestivalController.model.endTime}"
                                                required="true" requiredMessage="End time is required"
                                                />
                                </h:panelGrid>
                                <div class="centerItem" style="margin-top: 30px">
                                    <h:panelGrid columns="3" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" style="width: 100%">
                                        <p:outputLabel value=""/>
                                        <p:commandButton value="Add"
                                                         process="@form"
                                                         update="@(.updateableTable) @form"
                                                         oncomplete="removeExtraTable()"
                                                         actionListener="#{addFestivalController.addPerformance()}" style="margin:auto"/>

                                        <p:commandButton value="Next"
                                                         oncomplete="removeExtraTable()"
                                                         actionListener="#{addFestivalController.gallery}" style="margin:auto" immediate="true"/>

                                    </h:panelGrid>
                                </div>
                            </h:form>
                        </div>
                        <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px;"/>
                        <h:form id="form">
                            <p:dataTable id="performanceTable" var="currentPerf" value="#{addFestivalController.model.performances}"
                                         selection="#{addFestivalController.model.selectedPerformance}" selectionMode="single" stickyHeader="false"
                                         rowKey="#{currentPerf.startDate}-#{currentPerf.startTime}-#{currentPerf.performer.name}"
                                         class="updateableTable">                            
                                <p:column headerText="Performer">
                                    <h:outputText value="#{currentPerf.performer.name}"/>
                                </p:column>
                                <p:column headerText="Date">
                                    <h:outputText value="#{currentPerf.startDate}">
                                        <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Start time">
                                    <h:outputText value="#{currentPerf.startTime}">
                                        <f:convertDateTime type="time" pattern="HH:mm"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="End time">
                                    <h:outputText value="#{currentPerf.endTime}">
                                        <f:convertDateTime type="time" pattern="HH:mm"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                            <p:contextMenu for="performanceTable">
                                <p:menuitem value="Delete" update="performanceTable" icon="ui-icon-close" actionListener="#{addFestivalController.removePerformance()}"
                                            oncomplete="removeExtraTable()"/>
                            </p:contextMenu>
                        </h:form>
                    </div>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

