<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="templates/adminLayout.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <ui:define name="windowTitle">
        Add festival info
    </ui:define>
    <ui:define name="content">
        <div class="ui-fluid" style="padding: 10px; margin-right: 20px; margin-left: 20px; overflow:visible">
            <h2 style="text-align: center; margin:auto; margin-bottom: 20px"> Add new festival</h2>
            <h:panelGroup class="ui-fluid" style="margin: auto; max-width: 800px" id="steps">
                <h:form id="stepsForm">
                    <p:steps activeIndex="0" styleClass="customSteps">
                        <p:menuitem value="#{addFestivalController.getStep(0)}"
                                    url="addFestivalBasicInfo.xhtml"
                                    ajax="false"/>
                        <p:menuitem value="#{addFestivalController.getStep(1)}"
                                    url="addFestivalSchedule.xhtml"
                                    ajax="false"/>
                        <p:menuitem value="#{addFestivalController.getStep(2)}"
                                    url="addFestivalGallery.xhtml"
                                    ajax="false"/>
                    </p:steps>
                </h:form>
            </h:panelGroup>
            <h:panelGroup id="firstStep" class="ui-fluid addFestStep" style="padding-top: 60px;">
                <h3 class="centerItem" style="margin-top: 80px;"> Basic information </h3>
                <hr class="centerItem" style="margin-bottom: 20px;"/>
                <h:form id="addFestForm">
                    <div class="ui-g centerItem">
                        <p:outputLabel id="globalErrorMessage" value="#{addFestivalController.errorMessage}" styleClass="errorMessage"/>
                        <br/>
                        <h:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8">
                            <p:outputLabel for="festName" value="Name"/>
                            <p:autoComplete id="festName" value="#{addFestivalController.model.name}"
                                            completeMethod="#{addFestivalController.completeFestivalName}"
                                            required="true"
                                            requiredMessage="This field is required"/>
                            <p:outputLabel value=""/>
                            <p:message for="festName" styleClass="errorMessage"/>

                            <p:outputLabel for="festLocation" value="Location"/>
                            <p:autoComplete id="festLocation" value="#{addFestivalController.model.location}"
                                            completeMethod="#{addFestivalController.completeFestivalLocation}"
                                            required="true"
                                            requiredMessage="This field is required"/>
                            <p:outputLabel value=""/>
                            <p:message for="festLocation" styleClass="errorMessage"/>

                            <p:outputLabel for="startDate" value="Start date"/>
                            <p:calendar id="startDate" value="#{addFestivalController.model.startDate}"
                                        required="true"
                                        requiredMessage="This field is required"
                                        pattern="dd.MM.yyyy."
                                        showOn="button">
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                            </p:calendar>
                            <p:outputLabel value=""/>
                            <p:message for="startDate" styleClass="errorMessage"/>


                            <p:outputLabel for="endDate" value="End date"/>
                            <p:calendar id="endDate" value="#{addFestivalController.model.endDate}"
                                        required="true"
                                        requiredMessage="This field is required"
                                        showOn="button"
                                        pattern="dd.MM.yyyy."
                                        >
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                            </p:calendar>
                            <p:outputLabel value=""/>
                            <p:message for="endDate" styleClass="errorMessage"/>

                            <p:outputLabel for="pricePerDay" value="Price per day"/>
                            <p:inputNumber id="pricePerDay" value="#{addFestivalController.model.pricePerDay}"
                                           required="true"
                                           requiredMessage="This field is required"
                                           decimalPlaces="0"
                                           minValue="0"/>
                            <p:outputLabel value=""/>
                            <p:message for="pricePerDay" styleClass="errorMessage"/>

                            <p:outputLabel for="priceWholeFest" value="Price for whole festival"/>
                            <p:inputNumber id="priceWholeFest" value="#{addFestivalController.model.priceWholeFestival}"
                                           required="true"
                                           requiredMessage="This field is required"
                                           decimalPlaces="0"
                                           minValue="0"/>
                            <p:outputLabel value=""/>
                            <p:message for="priceWholeFest" styleClass="errorMessage"/>
                            
                            <p:outputLabel for="numTickets" value="Available tickets per day"/>
                            <p:inputNumber id="numTickets" value="#{addFestivalController.model.numTicketsPerDay}"
                                           required="true"
                                           requiredMessage="This field is required"
                                           decimalPlaces="0"
                                           minValue="1"/>
                            <p:outputLabel value=""/>
                            <p:message for="numTickets" styleClass="errorMessage"/>
                            
                            <p:outputLabel for="maxTickets" value="Max tickets per user"/>
                            <p:inputNumber id="maxTickets" value="#{addFestivalController.model.maxTicketsPerUser}"
                                           required="true"
                                           requiredMessage="This field is required"
                                           decimalPlaces="0"
                                           minValue="1"/>
                            <p:outputLabel value=""/>
                            <p:message for="maxTickets" styleClass="errorMessage"/>

                            <p:outputLabel for="socialNetworks" value="Social networks"/>
                            <p:selectManyMenu id="socialNetworks"
                                              value="#{addFestivalController.model.selectedSocialMedia}"
                                              converter="imageConverter"
                                              showCheckbox="true"
                                              var="socialMediaVar">
                                <p:ajax update="addFestForm:socialMediaInputs"/>
                                <f:selectItems value="#{addFestivalController.model.allSocialMedia}"
                                               var="socialMedia" itemLabel="#{socialMedia.name}" itemValue="#{socialMedia}"/>

                                <p:column>
                                    <h:graphicImage library="images" name="#{socialMediaVar.image}" width="20px" height="auto"/>
                                </p:column>

                                <p:column>
                                    <h:outputText value="#{socialMediaVar.name}"/>
                                </p:column> 
                            </p:selectManyMenu>


                        </h:panelGrid>

                        <h:panelGrid id="socialMediaInputs" columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8">
                            <c:forEach items="#{addFestivalController.model.allSocialMedia}" var="media">
                                <p:outputLabel value="#{media.name}" rendered="#{addFestivalController.model.isSelected(media.name)}"/>
                                <p:inputText value="#{addFestivalController.model.socialMediaLinks[media.name]}" rendered="#{addFestivalController.model.isSelected(media.name)}"/>
                            </c:forEach>
                        </h:panelGrid>
                    </div>

                    <div class="centerItem" style="margin-top: 30px">
                        <h:panelGrid columns="3" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" style="width: 100%">
                            <p:outputLabel value=""/>
                            <p:commandButton value="Next" process="@form" update="@(.addFestStep)" actionListener="#{addFestivalController.schedule}"/>
                            <p:commandButton value="Clear" actionListener="#{addFestivalController.resetModelData()}" update="@(.addFestStep)"/>
                        </h:panelGrid>
                    </div>
                </h:form>
            </h:panelGroup>
        </div>
    </ui:define>
</ui:composition>

