<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <ui:composition template="templates/adminLayout.xhtml">
            <ui:define name="windowTitle">
                Add gallery
            </ui:define>
            <h:form>
                <p:remoteCommand name="onload" action="#{addFestivalController.goToStep(1)}" autoRun="true" />
            </h:form>
            <ui:define name="content">
                <style>
                    .ui-fileupload-filename {
                        /*word-break: break-all !important;*/
                        display: inline-block;
                        overflow: hidden !important;
                        max-width: 150px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                </style>
                <h2 style="text-align: center; margin:auto; margin-bottom: 20px"> Add new festival</h2>
                <h:panelGroup class="ui-fluid" style="margin: auto; max-width: 800px" id="steps">
                    <h:form id="stepsForm">
                        <p:steps activeIndex="2" styleClass="customSteps" readonly="false">
                            <p:menuitem value="#{addFestivalController.getStep(0)}"
                                        url="addFestivalBasicInfo.xhtml"
                                        ajax="false"/>
                            <p:menuitem value="#{addFestivalController.getStep(1)}"
                                        url="addFestivalSchedule.xhtml"
                                        ajax="false"/>
                            <p:menuitem value="#{addFestivalController.getStep(2)}"
                                        url="addFestivalGallery.xhtml"
                                        ajax="false"/>
                        </p:steps>
                    </h:form>
                </h:panelGroup>
                <h:panelGroup id="thirdStep" class="ui-fluid addFestStep" >
                    <h3 class="centerItem" style="margin-top: 80px;"> Gallery </h3>
                    <hr class="centerItem" style="margin-bottom: 20px;"/>
                    <div class="ui-g centerItem">
                        <p:outputLabel id="globalErrorMessageLevelThree" value="#{addFestivalController.errorMessage}" styleClass="errorMessage"/>
                        <h:form id="fileUploadForm" enctype="multipart/form-data" style="width:100%">
                            <div class="ui-g" style="width:100%">
                                <div class="ui-g-12 ui-md-3 ui-lg-3">
                                    <div class="ui-g-12">
                                        <p:fileUpload value="#{addFestivalController.model.currentFile}" auto="true" skinSimple="true"
                                                      update="fileUploadForm:filePreview"
                                                      fileUploadListener="#{addFestivalController.preview}"/>
                                    </div>
                                    <div class="ui-g-12">
                                        <p:commandButton value="Add" action="#{addFestivalController.addFile()}" update="@(.updateableTable) menuForm:messages"
                                                         oncomplete="removeExtraTable()"/>
                                    </div>

                                    <div class="ui-g-12">
                                        <p:commandButton value="Finish" actionListener="#{addFestivalController.save()}" update="@(.errorMessage)"/>
                                    </div>
                                </div>
                                <h:panelGroup class="ui-g-12 ui-md-9 ui-lg-9" id="filePreview">
                                    <p:outputLabel value="#{addFestivalController.model.currentFileName()}" rendered="#{addFestivalController.model.currentFileVideo}"/>
                                    <ui:fragment rendered="#{not addFestivalController.model.currentFileVideo and not empty addFestivalController.model.currentFile}">
                                        <img src="data:image/png;base64,#{addFestivalController.model.filePreviewContents}" style="max-height: 200px; max-width: 500px"/>
                                    </ui:fragment>
                                </h:panelGroup>
                            </div>
                        </h:form>  

                        <h:form id="form">
                            <p:dataTable id="uploadedFileTable" var="currentFile" value="#{addFestivalController.model.uploadedFiles}"
                                         selection="#{addFestivalController.model.currentFile}" selectionMode="single" stickyHeader="false"
                                         rowKey="#{currentFile.fileName}-#{currentFile.contentType}-#{currentFile.size}"
                                         class="updateableTable">                            
                                <p:column headerText="File name">
                                    <h:outputText value="#{currentFile.fileName}"/>
                                </p:column>
                                <p:column headerText="Type">
                                    <h:outputText value="#{currentFile.contentType}"/>
                                </p:column>
                                <p:column headerText="Size">
                                    <h:outputText value="#{currentFile.size / 1024} KB"/>
                                </p:column>
                            </p:dataTable>
                            <p:contextMenu for="uploadedFileTable">
                                <p:menuitem value="Preview" action="#{addFestivalController.previewImage()}" update="fileUploadForm:filePreview"/>
                                <p:menuitem value="Delete" update="uploadedFileTable" icon="ui-icon-close" actionListener="#{addFestivalController.removeFile()}"
                                            oncomplete="removeExtraTable()"/>
                            </p:contextMenu>
                        </h:form>
                    </div>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

