<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="windowTitle">
        #{editFestivalController.festival.name}
    </ui:define>

    <ui:define name="content">
        <h:form id="reset">
            <p:remoteCommand actionListener="#{editFestivalController.reset()}" autoRun="true"/>
        </h:form>
        <div class="ui-g-fluid">
            <h3 class="centerItem" style="margin-top:10px; text-align: center;">
                View and edit festival
                
                <h:form id="resetForm">
                    <p:commandButton value="Reset" icon="fa fa-undo" actionListener="#{editFestivalController.reset()}"
                                     update="basicInfoForm scheduleForm"
                                     onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                     style="float: right"/>
                </h:form>     
            </h3>    

            <div class="centerItem">     
                <hr class="centerItem" style="margin-top:5px; margin-bottom: 10px;"/>
            </div>

            <br/>
            <br/>
            <div class="centerItem">
                <h4 style="margin:auto; text-align: center">Cancel festival</h4>
                <h:form id="cancelFestForm">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8" layout="grid">
                        <p:outputLabel for="reason" value="Cancelation reason"/>
                        <p:inputTextarea rows="5" cols="30" value="#{editFestivalController.cancelationReason}" id="reason"/>
                        <p:outputLabel value=""/>
                        <p:message for="reason" styleClass="errorMessage"/>

                        <p:outputLabel value=""/>
                        <p:commandButton value="Confirm" icon="fa fa-check"
                                         process="@form" update="menuForm:messages"
                                         actionListener="#{editFestivalController.cancelFestival()}">
                            <p:confirm header="Cancel festival?" message="All users with reservations and tickets will be notified."
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                    </p:panelGrid>
                </h:form>
            </div>
            <div class="centerItem">
                <h4 style="width:100%;text-align: center">Basic information</h4>
                <hr class="centerItem"/>
                <h:form id="basicInfoForm" style="width:100%">
                    <p:outputLabel value="#{editFestivalController.errorMessage}" styleClass="errorMessage" id="basicInfoErrors"/>
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8" layout="grid" style="width:100%">
                        <p:outputLabel for="name" value="Name"/>
                        <p:inputText value="#{editFestivalController.model.name}" id="name"
                                     required="true" requiredMessage="This field is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="name" styleClass="errorMessage"/>

                        <p:outputLabel for="place" value="Location"/>
                        <p:inputText value="#{editFestivalController.model.location}" id="place"
                                     required="true" requiredMessage="This field is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="place" styleClass="errorMessage"/>

                        <p:outputLabel for="pricePerDay" value="Price per day"/>
                        <p:inputNumber id="pricePerDay" value="#{editFestivalController.model.pricePerDay}"
                                       required="true"
                                       requiredMessage="This field is required"
                                       decimalPlaces="0"
                                       minValue="0"/>
                        <p:outputLabel value=""/>
                        <p:message for="pricePerDay" styleClass="errorMessage"/>

                        <p:outputLabel for="priceWholeFest" value="Price for whole festival"/>
                        <p:inputNumber id="priceWholeFest" value="#{editFestivalController.model.priceWholeFestival}"
                                       required="true"
                                       requiredMessage="This field is required"
                                       decimalPlaces="0"
                                       minValue="0"/>
                        <p:outputLabel value=""/>
                        <p:message for="priceWholeFest" styleClass="errorMessage"/>

                        <p:outputLabel for="numTickets" value="Available tickets per day"/>
                        <p:inputNumber id="numTickets" value="#{editFestivalController.model.numTicketsPerDay}"
                                       required="true"
                                       requiredMessage="This field is required"
                                       decimalPlaces="0"
                                       minValue="1"/>
                        <p:outputLabel value=""/>
                        <p:message for="numTickets" styleClass="errorMessage"/>

                        <p:outputLabel for="maxTickets" value="Max tickets per user"/>
                        <p:inputNumber id="maxTickets" value="#{editFestivalController.model.maxTicketsPerUser}"
                                       required="true"
                                       requiredMessage="This field is required"
                                       decimalPlaces="0"
                                       minValue="1"/>
                        <p:outputLabel value=""/>
                        <p:message for="maxTickets" styleClass="errorMessage"/>

                        <p:outputLabel for="soldTickets" value="Sold tickets"/>
                        <h:outputText id="soldTickets" value="#{editFestivalController.model.soldTickets}"/>

                        <p:outputLabel value="Social links:"/>
                        <hr/>
                        <c:forEach items="#{editFestivalController.model.allSocialMedia}" var="media">
                            <p:outputLabel value="#{media.name}"/>
                            <p:inputText value="#{editFestivalController.model.socialMediaLinks[media.name]}"/>
                        </c:forEach>

                        <p:graphicImage id="saveBasicInfoLoading" library="images" name="ajax-load.gif" width="100%" height="auto" style="visibility: hidden"/>
                        <p:panelGrid columns="2">

                            <p:commandButton value="Save" icon="fa fa-save"
                                             process="@form" update="basicInfoForm:basicInfoErrors @form menuForm:messages"
                                             actionListener="#{editFestivalController.saveBasicInfo()}"
                                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                             >
                                <p:confirm header="Save changes?" message="All users with reservations and tickets will be notified."
                                           icon="ui-icon-alert"/>
                            </p:commandButton>
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </p:panelGrid>
                    </p:panelGrid>
                </h:form>
            </div>
            <div class="centerItem">
                <h3 style="text-align: center"> Edit schedule </h3>
                <hr class="centerItem" style="margin-bottom: 20px;"/>
                <div class="ui-g centerItem">
                    <div class="ui-g" style="width: 100%">
                        <h:form id="addScheduleForm" style="width:100%">
                            <h:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8"  class="ui-g-12 ui-md-9 ui-lg-9">
                                <p:outputLabel for="performer" value="Performer"/>
                                <p:autoComplete id="performer" value="#{editFestivalController.model.performerName}"
                                                completeMethod="#{editFestivalController.completePerformerName}"
                                                required="true"
                                                requiredMessage="This field is required"/>

                                <p:outputLabel for="day" value="Day"/>
                                <p:selectOneMenu id="day" value="#{editFestivalController.model.performanceFestDay}" effect="fold">
                                    <f:selectItems value="#{editFestivalController.model.days}" var="dayVar" itemLabel="#{dayVar}" itemValue="#{dayVar}"/>
                                </p:selectOneMenu>

                                <p:outputLabel for="startTime" value="Start time"/>
                                <p:calendar id="startTime" timeOnly="true" pattern="HH:mm" value="#{editFestivalController.model.startTime}"
                                            required="true" requiredMessage="This field is required"
                                            />

                                <p:outputLabel for="endTime" value="End time"/>
                                <p:calendar id="endTime" timeOnly="true" pattern="HH:mm" value="#{editFestivalController.model.endTime}"
                                            required="true" requiredMessage="This field is required"
                                            />
                            </h:panelGrid>
                            <div class="centerItem" style="margin-top: 30px">
                                <h:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8" style="width: 100%">
                                    <p:graphicImage id="saveScheduleLoading" library="images" name="ajax-load.gif" width="100%" height="auto" style="visibility: hidden"/>
                                    <p:outputPanel>
                                        <p:commandButton value="Add"
                                                         icon="fa fa-plus"
                                                         process="@form"
                                                         update="@(.updateableTable)"
                                                         oncomplete="removeExtraTable()"
                                                         actionListener="#{editFestivalController.addPerformance()}" style="margin:auto"/>
                                        <p:commandButton value="Update"
                                                         icon="fa fa-refresh"
                                                         process="@form"
                                                         update="@(.updateableTable)"
                                                         oncomplete="removeExtraTable()"
                                                         actionListener="#{editFestivalController.updatePerformance()}" style="margin:auto"/>
                                    </p:outputPanel>
                                    <p:outputLabel value=""/>
                                    <p:panelGrid columns="2">

                                        <p:commandButton value="Save" icon="fa fa-save"
                                                         process="@form" update="@form menuForm:messages"
                                                         actionListener="#{editFestivalController.saveSchedule()}"
                                                         onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                                         immediate="true">
                                            <p:confirm header="Save changes?" message="All users with reservations and tickets will be notified."
                                                       icon="ui-icon-alert"/>
                                        </p:commandButton>
                                    </p:panelGrid>
                                </h:panelGrid>
                            </div>
                        </h:form>
                    </div>
                    <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px;"/>
                    <h:form id="scheduleForm">
                        <p:dataTable id="performanceTable" var="currentPerf" value="#{editFestivalController.model.performances}"
                                     selection="#{editFestivalController.model.selectedPerformance}" selectionMode="single" stickyHeader="false"
                                     rowKey="#{currentPerf.startDate}-#{currentPerf.startTime}-#{currentPerf.performer.name}"
                                     class="updateableTable">    
                            <p:ajax event="rowSelect" listener="#{editFestivalController.editPerformance()}" update="addScheduleForm"/>
                            <p:column headerText="Performer">
                                <h:outputText value="#{currentPerf.performer.name}"/>
                            </p:column>
                            <p:column headerText="Date">
                                <h:outputText value="#{currentPerf.startDate}">
                                    <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Start time">
                                <h:outputText value="#{currentPerf.startTime}">
                                    <f:convertDateTime type="time" pattern="HH:mm"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="End time">
                                <h:outputText value="#{currentPerf.endTime}">
                                    <f:convertDateTime type="time" pattern="HH:mm"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <p:contextMenu for="performanceTable">
                            <p:menuitem value="Edit" update="performanceTable addScheduleForm" icon="fa fa-pencil" actionListener="#{editFestivalController.editPerformance()}"
                                        oncomplete="removeExtraTable()"/>
                            <p:menuitem value="Delete" update="performanceTable" icon="ui-icon-close" actionListener="#{editFestivalController.deletePerformance()}"
                                        oncomplete="removeExtraTable()"/>
                        </p:contextMenu>
                    </h:form>
                </div>

                <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                    <p:graphicImage library="images" name="ajax-load.gif"/>
                </p:dialog>
            </div>
            <div class="centerItem">
                <h3 style="text-align: center"> Edit files </h3>
                <hr class="centerItem" style="margin-bottom: 20px;"/>
                <div class="ui-g-centerItem">
                    <p:outputLabel id="globalErrorMessageLevelThree" value="#{editFestivalController.errorMessage}" styleClass="errorMessage"/>
                    <h:form id="fileUploadForm" enctype="multipart/form-data" style="width:100%">
                        <div class="ui-g" style="width:100%">
                            <div class="ui-g-12 ui-md-3 ui-lg-3">
                                <div class="ui-g-12">
                                    <p:fileUpload value="#{editFestivalController.model.currentFile}" auto="true" skinSimple="true"
                                                  update="fileUploadForm:filePreview"
                                                  fileUploadListener="#{editFestivalController.preview}"/>
                                </div>
                                <div class="ui-g-12">
                                    <p:commandButton value="Add" action="#{editFestivalController.addFile()}" update="@(.updateableTable) menuForm:messages"
                                                     oncomplete="removeExtraTable()" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
                                </div>
                            </div>
                            <h:panelGroup class="ui-g-12 ui-md-9 ui-lg-9" id="filePreview">
                                <p:outputLabel value="#{editFestivalController.model.currentFileName()}" rendered="#{editFestivalController.model.currentFileVideo}"/>
                                <ui:fragment rendered="#{not editFestivalController.model.currentFileVideo and not empty editFestivalController.model.currentFile}">
                                    <img src="data:image/png;base64,#{editFestivalController.model.filePreviewContents}" style="max-height: 200px; max-width: 500px"/>
                                </ui:fragment>
                            </h:panelGroup>
                        </div>
                    </h:form>  

                    <h:form id="filesForm">
                        <p:dataTable id="uploadedFileTable" var="currentFile" value="#{editFestivalController.model.allFiles}"
                                     selection="#{editFestivalController.model.currentFileToPreview}" selectionMode="single" stickyHeader="false"
                                     rowKey="#{currentFile.id}"
                                     class="updateableTable">
                            <p:ajax event="rowSelect" oncomplete="updateFilePreview()"/>                            
                            <p:column headerText="File name">
                                <h:outputText value="#{currentFile.name}"/>
                            </p:column>
                            <p:column headerText="Type">
                                <h:outputText value="#{currentFile.isVideo? 'Video' : 'Image'}"/>
                            </p:column>
                            <p:column headerText="Size">
                                <h:outputText value="#{currentFile.size / 1024}">
                                    <f:convertNumber minFractionDigits="0" maxFractionDigits="2"/>
                                </h:outputText>
                                <h:outputText value=" KB"/>
                            </p:column>
                        </p:dataTable>
                        <p:contextMenu for="uploadedFileTable">
                            <p:menuitem value="View" icon="fa fa-eye" oncomplete="updateFilePreview()"/>
                            <p:menuitem value="Delete" update="uploadedFileTable filePreviewForm menuForm:messages" icon="ui-icon-close" actionListener="#{editFestivalController.removeFile()}"
                                        oncomplete="removeExtraTable()"
                                        onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
                        </p:contextMenu>
                    </h:form>
                    <h:form id="filePreviewForm">
                        <p:remoteCommand name="updateFilePreview" update="filePreview" />
                        <p:outputPanel id="filePreview">
                            <p:outputLabel value="#{editFestivalController.model.currentFileToPreview.name}" rendered="#{not empty editFestivalController.model.currentFileToPreview}"/>
                            <p:outputPanel rendered="#{not empty editFestivalController.model.currentFileToPreview and !editFestivalController.model.currentFileToPreview.isVideo}">
                                <p:graphicImage value="#{imageController.image}" title="#{editFestivalController.model.currentFileToPreview.name}" alt="#{editFestivalController.model.currentFileToPreview.name}"
                                                style="margin:auto" height="300px" width="auto">
                                    <f:param name="fileId" value="#{editFestivalController.model.currentFileToPreview.id}"/>
                                </p:graphicImage>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{not empty editFestivalController.model.currentFileToPreview and editFestivalController.model.currentFileToPreview.isVideo}">
                                <p:commandButton type="button" onclick='playPause("requestVideo")' icon="fa fa-play" value="Play/pause"/>
                                <p:commandButton type="button" onclick='stopVideo("requestVideo")' icon="fa fa-stop" value="Stop"/>
                                <video height="auto" style="margin: auto; width: 90% !important" autoplay="autoplay" id="requestVideo">
                                    <source src="videos/#{editFestivalController.model.videoToPreview.festivalName}/#{editFestivalController.model.videoToPreview.fileName}"
                                            type="video/#{editFestivalController.model.videoToPreview.type}"/>
                                    Video not found.
                                </video>
                            </p:outputPanel>
                        </p:outputPanel>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
