<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml">

    <ui:define name="windowTitle">
        Search
    </ui:define>

    <ui:define name="content">
        <ui:include src="sections/search.xhtml"/>
    </ui:define>

</ui:composition>
