<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <h:outputScript library="js" name="script.js"/>
        <title> Admin login </title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="style.css"/>
        <style>
            .header, .footer{
                background-color: #9c79c1;
            }
        </style>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true" style="padding-bottom: 0" id="northUnit">
                <ui:include src="sections/header.xhtml"/>                
            </p:layoutUnit>  
            <p:layoutUnit position="center" id="centerUnit">
                <ui:include src="sections/adminLoginContent.xhtml"/>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="50" resizable="true" closable="true" collapsible="true" id="southUnit">
                <ui:insert name="footer">
                    <ui:include src="sections/footer.xhtml"/>
                </ui:insert>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

