<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns:ct="http://www.chartistjsf.org/charts"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="windowTitle">
        Admin home
    </ui:define>

    <ui:define name="content">
        <style>
            .centerItem{
                max-width: 800px !important;
            }
        </style>
        <div class="ui-fluid">
            <p:outputPanel class="centerItem ui-g" deferred="true">
                <h4 style="text-align: center;margin-bottom: 5px" class="ui-g-12 ui-md-12 ui-lg-12">Top viewed festivals</h4>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <h:form>
                        <p:dataTable id="mostViewed" value="#{adminHomeController.topViewed}" var="fest" class="updateableTable">
                            <p:column headerText="Festival">
                                <h:outputText value="#{fest.name} #{adminHomeController.getYear(fest)}"/>
                            </p:column>
                            <p:column headerText="Views">
                                <h:outputText value="#{fest.views}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-8">
                    <ct:chart id="barChartViews" type="bar" model="#{adminHomeController.barModelViews}" style="height: 300px"/>    
                </div>
            </p:outputPanel>
            <p:outputPanel class="centerItem ui-g" deferred="true">
                <h4 style="text-align: center;margin-bottom: 5px" class="ui-g-12 ui-md-12 ui-lg-12">Top festivals by purchased tickets</h4>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <h:form>
                        <p:dataTable id="topTickets" value="#{adminHomeController.topTickets}" var="fest" class="updateableTable">
                            <p:column headerText="Festival">
                                <h:outputText value="#{fest.name} #{adminHomeController.getYear(fest)}"/>
                            </p:column>
                            <p:column headerText="Tickets">
                                <h:outputText value="#{adminHomeController.getTickets(fest)}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-8">
                    <ct:chart id="barChartTickets" type="bar" model="#{adminHomeController.barModelTickets}" style="height: 300px"/> 
                </div>
            </p:outputPanel>
            <p:outputPanel class="centerItem ui-g" deferred="true">
                <h4 style="text-align: center;margin-bottom: 5px" class="ui-g-12 ui-md-12 ui-lg-12">Top rated festivals</h4>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <h:form>
                        <p:dataTable id="topRated" value="#{topFestivalsController.topFestivals}" var="fest" class="updateableTable">
                            <p:column headerText="Festival">
                                <h:outputText value="#{fest.name}"/>
                            </p:column>
                            <p:column headerText="Rating">
                                <h:outputText value="#{topFestivalsController.getRating(fest)}">
                                    <f:convertNumber minFractionDigits="1" maxFractionDigits="1"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-8">
                    <ct:chart id="barChartRating" type="bar" model="#{topFestivalsController.ratedFestivalsModel}" style="height: 300px"/>    
                </div>
            </p:outputPanel>
        </div>

    </ui:define>

</ui:composition>
