<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/userLayout.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="windowTitle">
        #{festivalDetailsController.festival.name}
    </ui:define>

    <ui:define name="content">
        <h:panelGroup id="festDetails">
            <div class="ui-g-fluid">
                <h3 class="centerItem" style="margin-top: 20px;"> #{festivalDetailsController.festival.name}</h3>
                <hr class="centerItem" style="margin-bottom: 20px;"/>
                <div class="ui-g centerItem">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8" class="#{!authController.admin? 'ui-g-12 ui-md-7 ui-lg-7' : ''}">
                        <p:outputLabel for="place" value="Place"/>
                        <h:outputText id="place" value="#{festivalDetailsController.festival.place}"/>

                        <p:outputLabel for="startDate" value="Start date"/>
                        <h:outputText id="startDate" value="#{festivalDetailsController.festival.startDate}">
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                        </h:outputText>

                        <p:outputLabel for="endDate" value="End date"/>
                        <h:outputText id="endDate" value="#{festivalDetailsController.festival.endDate}">
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                        </h:outputText>

                        <p:outputLabel for="pricePerDay" value="Price per day"/>
                        <h:outputText id="pricePerDay" value="#{festivalDetailsController.festival.pricePerDay}"/>

                        <p:outputLabel for="priceWholeFest" value="Whole fest price"/>
                        <h:outputText id="priceWholeFest" value="#{festivalDetailsController.festival.priceWholeFest}"/>


                        <p:outputLabel for="festRatingForm:festRating" value="Rating"/>
                        <h:form id="festRatingForm">
                            <p:rating stars="10" value="#{commentController.festRating}" readonly="true" id="festRating"/>
                        </h:form>

                        <p:outputLabel for="ratingNum" value="Votes"/>
                        <h:outputText id="ratingNum" value="#{commentController.comments.size()}"/>
                    </p:panelGrid>
                    <h:panelGroup rendered="#{!authController.admin}"  class="ui-g-12 ui-md-5 ui-lg-5">
                        <h:form id="reserveForm"  style="width: 100%">
                            <p:panelGrid columns="2" columnClasses="ui-grid-col-6, ui-grid-col-6" style="width: 100%">
                                <p:outputLabel for="type" value="Ticket"/>
                                <p:selectOneMenu id="type" value="#{reservationController.type}">
                                    <f:selectItem itemLabel="One day" itemValue="1"/>
                                    <f:selectItem itemLabel="Whole fest" itemValue="2"/>
                                </p:selectOneMenu>
                                <p:outputLabel for="day" value="Day"/>
                                <p:selectOneMenu id="day" value="#{reservationController.day}">
                                    <f:selectItems var="dayVar" itemLabel="#{dayVar}" itemValue="#{dayVar}" value="#{reservationController.days}"/>
                                </p:selectOneMenu>
                                <p:outputLabel for="amount" value="Amount"/>
                                <p:spinner id="amount" value="#{reservationController.amount}" min="1" max="#{festivalDetailsController.festival.maxTicketsPerUser}" 
                                           size="8"/>

                                <p:outputLabel value=""/>
                                <p:commandButton value="Reserve" update="menuForm:messages"
                                                 actionListener="#{reservationController.reserve()}"
                                                 disabled="#{authController.blocked}"
                                                 process="@form"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel styleClass="errorMessage" value="Reservations blocked!" rendered="#{authController.blocked}"/>
                            </p:panelGrid>
                        </h:form>
                    </h:panelGroup>
                </div>

                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>
                <div class="ui-g-fluid centerItem">
                    <h:form>
                        <p:dataTable var="festDay" value="#{festivalDetailsController.model.festivalDays}" stickyHeader="false" class="updateableTable">
                            <f:facet name="header">
                                Schedule
                            </f:facet>
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column headerText="Performer"/>
                                    <p:column headerText="Start time"/>
                                    <p:column headerText="End time"/>
                                </p:row>
                            </p:columnGroup>
                            <p:subTable var="currentDayPerf" value="#{festDay.performances}" class="updateableTable">
                                <f:facet name="header">
                                    <h:outputText value="Day #{festDay.festivalDay}: "/>
                                    <h:outputText value="#{festDay.festivalDate}">
                                        <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                                    </h:outputText>
                                </f:facet>
                                <p:column>
                                    <h:outputText value="#{currentDayPerf.performer.name}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{currentDayPerf.startTime}">
                                        <f:convertDateTime type="time" pattern="HH:mm"/>
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{currentDayPerf.endTime}">
                                        <f:convertDateTime type="time" pattern="HH:mm"/>
                                    </h:outputText>
                                </p:column>
                            </p:subTable>
                        </p:dataTable>
                    </h:form>
                </div>

                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>

                <div class="centerItem">
                    <h:form id="imageSlideForm">
                        <p:commandButton type="button" onclick="PF('switcher').previous();"
                                         icon="ui-icon-circle-triangle-w" id="prev"/>
                        <p:commandButton type="button" onclick="PF('switcher').next();"
                                         icon="ui-icon-circle-triangle-e" id="next"/>
                        <p:imageSwitch effect="wipe" widgetVar="switcher" id="manuelSwitcher"
                                       slideshowAuto="true" style="margin: auto" slideshowSpeed="5000">
                            <ui:repeat value="#{festivalDetailsController.files}" var="file" id="manuelSwitcherImages">
                                <p:graphicImage value="#{imageController.image}" title="#{file.name}" alt="#{file.name}" style="margin:auto" height="300px" width="auto">
                                    <f:param name="fileId" value="#{file.id}"/>
                                </p:graphicImage>
                            </ui:repeat>
                        </p:imageSwitch>
                    </h:form>
                </div>

                <div class="centerItem">
                    <h:form id="videoForm" rendered="#{not empty festivalDetailsController.videos}">
                        <p:commandButton type="button" onclick="playCurrent()" icon="fa fa-play" value="Play"/>
                        <p:commandButton type="button" onclick="pauseCurrent()" icon="fa fa-pause" value="Pause"/>
                        <p:commandButton type="button" onclick="reloadAllVideos()" icon="fa fa-stop" value="Stop"/>
                        <p:commandButton onclick="PF('switcherVideos').previous();reloadAllVideos();"
                                         icon="ui-icon-circle-triangle-w" id="prev"/>
                        <p:commandButton onclick="PF('switcherVideos').next();reloadAllVideos();"
                                         icon="ui-icon-circle-triangle-e" id="next"/>

                        <p:imageSwitch effect="wipe" widgetVar="switcherVideos" id="manuelSwitcherVid"
                                       style="margin: auto; min-width: 350px !important;" slideshowAuto="false">
                            <ui:repeat value="#{festivalDetailsController.videos}" var="video" id="manuelSwitcherVideos">
                                <video height="auto" id="#{video.fileName}" class="festVideo" style="margin: auto; width: 90% !important">
                                    <source src='videos/#{video.festivalName}/#{video.fileName}' type="video/#{video.type}"/>
                                    Video not found.
                                </video>
                            </ui:repeat>
                        </p:imageSwitch>
                    </h:form>
                </div>

                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>
                <div class="ui-g-fluid centerItem" style="max-width:50%">
                    <div class="ui-g" style="margin:auto">
                        <p:outputLabel value="More information: " style="margin-bottom: 5px"/>
                        <ui:repeat value="#{festivalDetailsController.socialLinks}" var="currentSocLink">
                            <p:link href="#{currentSocLink.link}">
                                <p:graphicImage library="images" name="#{currentSocLink.network.toLowerCase()}.png" width="30px" height="auto" style="margin-left: 15px; margin-right:15px;"/>
                            </p:link>
                        </ui:repeat>
                    </div>
                </div>

                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>
                <div class="centerItem">
                    <h:form id="fileUploadForm" enctype="multipart/form-data" style="width:100%">
                        <h4>Upload files from the festival</h4>
                        <div class="ui-g" style="width:100%">
                            <div class="ui-g-12 ui-md-3 ui-lg-3">
                                <div class="ui-g-12">
                                    <p:fileUpload value="#{userFileUploadController.currentFile}" auto="true" skinSimple="true"
                                                  update="fileUploadForm:filePreview"
                                                  fileUploadListener="#{userFileUploadController.preview}"/>
                                </div>
                                <div class="ui-g-12">
                                    <p:commandButton value="Upload" action="#{userFileUploadController.upload()}" update="menuForm:messages"
                                                     oncomplete="removeExtraTable()"/>
                                </div>
                            </div>
                            <h:panelGroup class="ui-g-12 ui-md-9 ui-lg-9" id="filePreview">
                                <p:outputLabel value="#{userFileUploadController.currentFileName}" rendered="#{userFileUploadController.currentFileVideo}"/>
                                <ui:fragment rendered="#{not userFileUploadController.currentFileVideo and not empty userFileUploadController.currentFile}">
                                    <img src="data:image/png;base64,#{userFileUploadController.filePreviewContents}" style="max-height: 200px; max-width: 500px"/>
                                </ui:fragment>
                            </h:panelGroup>
                        </div>
                    </h:form> 
                </div>
                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>
                <div class="ui-g-fluid centerItem" rendered="#{!authController.admin}">
                    <h4>Leave a comment</h4>
                    <h:form id="leaveCommentForm">
                        <p:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8" layout="grid">
                            <p:outputLabel for="rating" value="Rating"/>
                            <p:rating stars="10" value="#{commentController.rating}" id="rating"/>
                            <p:outputLabel for="comment" value="Comment"/>
                            <p:inputTextarea rows="6" value="#{commentController.comment}" id="comment" cols="30" autoResize="false" style="resize: none"/>
                            <p:outputLabel value=""/>
                            <p:commandButton value="Comment" actionListener="#{commentController.leaveComment()}" 
                                             update="menuForm:messages commentsForm:allComments @form festRatingForm:festRating ratingNum"/>
                        </p:panelGrid>
                    </h:form>

                    <h:form id="commentsForm">
                        <h:panelGroup id="allComments" style="width: 100%">
                            <p:repeat value="#{commentController.comments}" var="comment"
                                      offset="0" size="#{commentController.comments.size()}"
                                      step="1" varStatus="statusVar">
                                <p:panelGrid columns="1" style="width:100%;" id="container">
                                    <p:panelGrid columns="2" columnClasses="ui-grid-col-8,ui-grid-col-4" style="width:100%">
                                        <p:outputLabel value="#{comment.user.displayName}" style="font-weight: bold"/>
                                        <h:outputText value="#{comment.date}">
                                            <f:convertDateTime type="both" pattern="dd.MM.yyyy. HH:mm"/>
                                        </h:outputText>
                                    </p:panelGrid>
                                    <p:panelGrid columns="1" style="width:100%">
                                        <p:rating value="#{comment.rating}" stars="10" readonly="true"/>
                                        <p:inputTextarea disabled="true" value="#{comment.comment}" style="width: 100%"/>
                                    </p:panelGrid>
                                </p:panelGrid>
                                <hr/>
                            </p:repeat>
                        </h:panelGroup>
                    </h:form>
                </div>

            </div>
        </h:panelGroup>
    </ui:define>

</ui:composition>
