<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="windowTitle">
        Add gallery
    </ui:define>

    <ui:define name="content">
        <style>
                    .ui-fileupload-filename {
                        /*word-break: break-all !important;*/
                        display: inline-block;
                        overflow: hidden !important;
                        max-width: 150px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                </style>
                <h2 style="text-align: center; margin:auto; margin-bottom: 20px"> Add new festival</h2>
                <h:panelGroup class="ui-fluid" style="margin: auto; max-width: 800px" id="steps">
                    <h:form id="stepsForm">
                        <p:steps activeIndex="1" readonly="true">
                            <p:menuitem value="Choose file"/>
                            <p:menuitem value="Gallery"/>
                            <p:menuitem value="Preview"/>
                        </p:steps>
                    </h:form>
                </h:panelGroup>
                <h:panelGroup id="secondStep" class="ui-fluid addFestStep" >
                    <h3 class="centerItem" style="margin-top: 80px;"> Gallery </h3>
                    <hr class="centerItem" style="margin-bottom: 20px;"/>
                    <div class="ui-g centerItem">
                        <h:form id="fileUploadForm" enctype="multipart/form-data" style="width:100%">
                            <div class="ui-g" style="width:100%">
                                <div class="ui-g-12 ui-md-3 ui-lg-3">
                                    <div class="ui-g-12">
                                        <p:fileUpload value="#{importFestivalController.model.currentFile}" auto="true" skinSimple="true"
                                                      update="fileUploadForm:filePreview"
                                                      fileUploadListener="#{importFestivalController.filePreview}"/>
                                    </div>
                                    <div class="ui-g-12">
                                        <p:commandButton value="Add" action="#{importFestivalController.addFile()}" update="@(.updateableTable) menuForm:messages"
                                                         oncomplete="removeExtraTable()"/>
                                    </div>

                                    <div class="ui-g-12">
                                        <p:commandButton value="Preview" actionListener="#{importFestivalController.preview()}" update="@(.errorMessage)"/>
                                    </div>
                                </div>
                                <h:panelGroup class="ui-g-12 ui-md-9 ui-lg-9" id="filePreview">
                                    <p:outputLabel value="#{importFestivalController.model.currentFileName()}" rendered="#{importFestivalController.model.currentFileVideo}"/>
                                    <ui:fragment rendered="#{not importFestivalController.model.currentFileVideo and not empty importFestivalController.model.currentFile}">
                                        <img src="data:image/png;base64,#{importFestivalController.model.filePreviewContents}" style="max-height: 200px; max-width: 500px"/>
                                    </ui:fragment>
                                </h:panelGroup>
                            </div>
                        </h:form>  

                        <h:form id="form">
                            <p:dataTable id="uploadedFileTable" var="currentFile" value="#{importFestivalController.model.uploadedFiles}"
                                         selection="#{importFestivalController.model.currentFile}" selectionMode="single" stickyHeader="false"
                                         rowKey="#{currentFile.fileName}-#{currentFile.contentType}-#{currentFile.size}"
                                         class="updateableTable">                            
                                <p:column headerText="File name">
                                    <h:outputText value="#{currentFile.fileName}"/>
                                </p:column>
                                <p:column headerText="Type">
                                    <h:outputText value="#{currentFile.contentType}"/>
                                </p:column>
                                <p:column headerText="Size">
                                    <h:outputText value="#{currentFile.size / 1024} KB"/>
                                </p:column>
                            </p:dataTable>
                            <p:contextMenu for="uploadedFileTable">
                                <p:menuitem value="Preview" action="#{importFestivalController.previewImage()}" update="fileUploadForm:filePreview" icon="fa fa-eye"/>
                                <p:menuitem value="Delete" update="uploadedFileTable" icon="ui-icon-close" actionListener="#{importFestivalController.removeFile()}"
                                            oncomplete="removeExtraTable()"/>
                            </p:contextMenu>
                        </h:form>
                    </div>
                </h:panelGroup>
    </ui:define>

</ui:composition>
