<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="windowTitle">
        Import festival
    </ui:define>

    <ui:define name="content">
        <style>
            .ui-fileupload-filename {
                /*word-break: break-all !important;*/
                display: inline-block;
                overflow: hidden !important;
                max-width: 150px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        </style>
        <div class="ui-fluid">
            <h3 class="centerItem" style="margin-top:10px; text-align: center">Import festival from file</h3>
            <hr class="centerItem" style="margin-top:5px; margin-bottom: 10px"/>
            <div class="centerItem">
                <h:panelGroup class="ui-fluid" style="margin: auto; max-width: 800px" id="steps">
                    <h:form id="stepsForm">
                        <p:steps activeIndex="0" readonly="false">
                            <p:menuitem value="Choose file"/>
                            <p:menuitem value="Gallery"/>
                            <p:menuitem value="Preview"/>
                        </p:steps>
                    </h:form>
                </h:panelGroup> 
                <h:form id="importFestFileForm" enctype="multipart/form-data">
                    <p:fileUpload value="#{importFestivalController.currentFile}" skinSimple="true" auto="true" fileUploadListener="#{importFestivalController.upload}"
                                  update="menuForm:messages" validatorMessage="Allowed types: csv and json" id="fileUpload"/>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
