<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:ct="http://www.chartistjsf.org/charts"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/userLayout.xhtml">
            <ui:define name="windowTitle">
                Home
            </ui:define>
            <ui:define name="content">
                <style>
                    .centerItem {
                        max-width: 800px;
                    }
                </style>
                <div class="ui-g-fluid">
                    <div class="centerItem">
                        <p:outputPanel>
                            <h3>Welcome to our website!</h3>
                            <p>Here you can find information about your favorite festivals, reserve tickets, rate and comment festivals you've attended, view and post images and videos, and much more</p>
                            <p>We hope you'll enjoy your stay!</p>
                        </p:outputPanel>
                    </div>
                    <p:outputPanel class="centerItem ui-g" deferred="true">
                        <h4 style="text-align: center;margin-bottom: 5px" class="ui-g-12 ui-md-12 ui-lg-12">Top rated festivals</h4>
                        <div class="ui-g-12 ui-md-4 ui-lg-4">
                            <h:form>
                                <p:dataTable id="topRated" value="#{topFestivalsController.topFestivals}" var="fest" class="updateableTable">
                                    <p:column headerText="Festival">
                                        <h:outputText value="#{fest.name}"/>
                                    </p:column>
                                    <p:column headerText="Rating">
                                        <h:outputText value="#{topFestivalsController.getRating(fest)}">
                                            <f:convertNumber minFractionDigits="1" maxFractionDigits="1"/>
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                        <div class="ui-g-12 ui-md-8 ui-lg-8">
                            <ct:chart id="barChartViews" type="bar" model="#{topFestivalsController.ratedFestivalsModel}" style="height: 300px"/>    
                        </div>
                    </p:outputPanel>
                    <p:outputPanel class="centerItem ui-g" rendered="#{authController.user}" deferred="true" >
                        <h4 style="text-align: center;margin-bottom: 5px" class="ui-g-12 ui-md-12 ui-lg-12">Topical festivals</h4>
                        <h:form>
                            <p:dataTable id="recentFestivals" value="#{recentFestivalsController.festivals}" var="fest" class="updateableTable"
                                         selectionMode="single" selection="#{recentFestivalsController.selected}"
                                         rowKey="#{fest.id}">
                                <p:column headerText="Festival">
                                    <h:outputText value="#{fest.name}"/>
                                </p:column>
                                <p:column headerText="Start date">
                                    <h:outputText value="#{fest.startDate}">
                                        <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="End date">
                                    <h:outputText value="#{fest.endDate}">
                                        <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                            <p:contextMenu for="recentFestivals">
                                <p:menuitem value="View" icon="fa fa-eye" action="#{recentFestivalsController.viewFestival()}"/>
                            </p:contextMenu>
                        </h:form>
                    </p:outputPanel>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

