<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="windowTitle">
        User login log
    </ui:define>

    <ui:define name="content">
        <div class="ui-fluid">
            <h3 class="centerItem" style="margin-top:10px; text-align: center">Last 10 users to login</h3>
            <hr class="centerItem" style="margin-top: 10px; margin-bottom: 10px;"/>
            <div class="centerItem">
                <h:form>
                    <p:dataTable id="festivalTable" class="updateableTable" value="#{loginLogController.mostRecentLogins}" var="user" reflow="true"
                                 rows="10" stickyHeader="false" rowKey="#{user.username}"> 
                        <p:column headerText="Username">
                            <h:outputText value="#{user.displayName}"/>
                        </p:column>
                        <p:column headerText="Timestamp">
                            <h:outputText value="#{user.lastLogin}">
                                <f:convertDateTime type="datetime" pattern="dd.MM.yyyy. HH:mm:ss"/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
