<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/userLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="windowTitle">
        Messages
    </ui:define>

    <ui:define name="content">
        <style>
            tr.unreadMessage > td {
                background-color: #ffcc00;
            }
        </style>
            <h:form id="updateMessages">
                <p:remoteCommand actionListener="#{messagesController.update()}" autoRun="true" update="menuForm:messageRequestLabel messagesForm:messagesTable"/>
            </h:form>
        <div class="ui-g-fluid">
            <h3 class="centerItem" style="margin-top: 10px; text-align: center">Messages</h3>
            <hr class="centerItem" style="margin-top: 5px; margin-bottom: 10px"/>
            <div class="centerItem">
                <h:form id="messagesForm">
                    <p:dataTable id="messagesTable" class="updateableTable" value="#{messagesController.messages}" var="msg" reflow="true"
                                 paginator="true" rows="10" selectionMode="single" stickyHeader="false" rowKey="#{msg.id}"
                                 selection="#{messagesController.selected}" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" rowStyleClass="#{msg.messageRead ? 'null' : 'unreadMessage'}"> 
                        <p:ajax event="rowSelect" listener="#{messagesController.read()}" update="messagesForm:messagePreview menuForm:messageRequestLabel messagesForm:messagesTable"/>
                        <p:column headerText="Time">
                            <h:outputText value="#{msg.message.date}">
                                <f:convertDateTime type="both" pattern="dd.MM.yyyy. HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Festival">
                            <h:outputText value="#{msg.message.festival.name}"/>
                        </p:column>
                    </p:dataTable>
                    <p:contextMenu for="messagesTable">
                        <p:menuitem value="View" icon="fa fa-eye" update="messagePreview menuForm:messageRequestLabel messagesForm:messagesTable" actionListener="#{messagesController.read()}"/>
                        <p:menuitem value="Delete" update="messagePreview menuForm:messageRequestLabel messagesForm:messagesTable" icon="fa fa-times" actionListener="#{messagesController.delete()}"/>
                    </p:contextMenu>

                    <p:outputPanel id="messagePreview" style="margin-top: 20px">
                        <p:outputPanel  rendered="#{not empty messagesController.selected}">
                            <p:outputLabel value="Message content"/>
                            <hr/>
                            <h:outputText value="#{messagesController.selected.message.content}"/>
                        </p:outputPanel>
                    </p:outputPanel>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
