<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="windowTitle">
        Preview
    </ui:define>

    <ui:define name="content">
        <h:panelGroup id="festDetails">
            <div class="ui-g-fluid">
                <div class="centerItem">
                    <h:panelGroup class="ui-fluid" style="margin: auto; max-width: 800px" id="steps">
                        <h:form id="stepsForm">
                            <p:steps activeIndex="2" readonly="true">
                                <p:menuitem value="Choose file"/>
                                <p:menuitem value="Gallery"/>
                                <p:menuitem value="Preview"/>
                            </p:steps>
                        </h:form>
                    </h:panelGroup>
                    <h:form>
                        <p:outputLabel id="error" styleClass="errorMessage" value="#{addFestivalController.errorMessage}"/>
                        <br/>
                        <p:commandButton value="Save" icon="fa fa-save" actionListener="#{importFestivalController.save()}"
                                         onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" update="error"/>
                        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                            <p:graphicImage library="images" name="ajax-load.gif"/>
                        </p:dialog>

                    </h:form>
                </div>
                <h3 class="centerItem" style="margin-top: 20px;"> #{importFestivalController.model.name}</h3>
                <hr class="centerItem" style="margin-bottom: 20px;"/>
                <div class="ui-g centerItem">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8" class="ui-g-12 ui-md-7 ui-lg-7">
                        <p:outputLabel for="place" value="Place"/>
                        <h:outputText id="place" value="#{importFestivalController.model.location}"/>

                        <p:outputLabel for="startDate" value="Start date"/>
                        <h:outputText id="startDate" value="#{importFestivalController.model.startDate}">
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                        </h:outputText>

                        <p:outputLabel for="endDate" value="End date"/>
                        <h:outputText id="endDate" value="#{importFestivalController.model.endDate}">
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                        </h:outputText>

                        <p:outputLabel for="pricePerDay" value="Price per day"/>
                        <h:outputText id="pricePerDay" value="#{importFestivalController.model.pricePerDay}"/>

                        <p:outputLabel for="priceWholeFest" value="Whole fest price"/>
                        <h:outputText id="priceWholeFest" value="#{importFestivalController.model.priceWholeFestival}"/>


                        <p:outputLabel for="festRatingForm:festRating" value="Rating"/>
                        <h:form id="festRatingForm">
                            <p:rating stars="10" value="5" readonly="true" id="festRating"/>
                        </h:form>

                        <p:outputLabel for="ratingNum" value="Votes"/>
                        <h:outputText id="ratingNum" value="12345"/>
                    </p:panelGrid>
                    <h:panelGroup class="ui-g-12 ui-md-5 ui-lg-5">
                        <h:form id="reserveForm"  style="width: 100%">
                            <p:panelGrid columns="2" columnClasses="ui-grid-col-6, ui-grid-col-6" style="width: 100%">
                                <p:outputLabel for="type" value="Ticket"/>
                                <p:selectOneMenu id="type" value="#{importFestivalController.dummy}" disabled="disabled">
                                    <f:selectItem itemLabel="One day" itemValue="1"/>
                                    <f:selectItem itemLabel="Whole fest" itemValue="2"/>
                                </p:selectOneMenu>
                                <p:outputLabel for="day" value="Day"/>
                                <p:selectOneMenu id="day" disabled="true" value="#{importFestivalController.dummy}">
                                    <f:selectItem itemValue="1" itemLabel="1"/>
                                </p:selectOneMenu>
                                <p:outputLabel for="amount" value="Amount"/>
                                <p:spinner id="amount" min="1" max="#{importFestivalController.model.maxTicketsPerUser}" size="8" />

                                <p:outputLabel value=""/>
                                <p:commandButton value="Reserve"
                                                 disabled="true"/>
                                <p:outputLabel value=""/>
                            </p:panelGrid>
                        </h:form>
                    </h:panelGroup>
                </div>

                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>
                <div class="ui-g-fluid centerItem">
                    <h:form>
                        <p:dataTable var="festDay" value="#{importFestivalController.previewScheduleModel.festivalDays}" stickyHeader="false" class="updateableTable">
                            <f:facet name="header">
                                Schedule
                            </f:facet>
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column headerText="Performer"/>
                                    <p:column headerText="Start time"/>
                                    <p:column headerText="End time"/>
                                </p:row>
                            </p:columnGroup>
                            <p:subTable var="currentDayPerf" value="#{festDay.performances}" class="updateableTable">
                                <f:facet name="header">
                                    <h:outputText value="Day #{festDay.festivalDay}: "/>
                                    <h:outputText value="#{festDay.festivalDate}">
                                        <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                                    </h:outputText>
                                </f:facet>
                                <p:column>
                                    <h:outputText value="#{currentDayPerf.performer.name}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{currentDayPerf.startTime}">
                                        <f:convertDateTime type="time" pattern="HH:mm"/>
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{currentDayPerf.endTime}">
                                        <f:convertDateTime type="time" pattern="HH:mm"/>
                                    </h:outputText>
                                </p:column>
                            </p:subTable>
                        </p:dataTable>
                    </h:form>
                </div>

                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>
                <div class="centerItem">
                    <h:form id="imageSlideForm">
                        <p:commandButton type="button" onclick="PF('switcher').previous();"
                                         icon="ui-icon-circle-triangle-w" id="prev"/>
                        <p:commandButton type="button" onclick="PF('switcher').next();"
                                         icon="ui-icon-circle-triangle-e" id="next"/>
                        <p:imageSwitch effect="wipe" widgetVar="switcher" id="manuelSwitcher"
                                       slideshowAuto="true" style="margin: auto" slideshowSpeed="5000">
                            <ui:repeat value="#{importFestivalController.images}" var="image" id="manuelSwitcherImages">
                                <ui:fragment>
                                    <img src="data:image/png;base64,#{importFestivalController.viewImageContents(image)}" style="max-height: 200px; max-width: 500px"/>
                                </ui:fragment>
                            </ui:repeat>
                        </p:imageSwitch>
                    </h:form>
                </div>

                <hr class="centerItem" style="margin-bottom: 20px; margin-top: 10px"/>
                <div class="ui-g-fluid centerItem" style="max-width:50%">
                    <div class="ui-g" style="margin:auto">
                        <p:outputLabel value="More information: " style="margin-bottom: 5px"/>
                        <ui:repeat value="#{importFestivalController.socialLinks}" var="currentSocLink">
                            <p:link href="#{currentSocLink.link}">
                                <p:graphicImage library="images" name="#{currentSocLink.network.toLowerCase()}.png" width="30px" height="auto" style="margin-left: 15px; margin-right:15px;"/>
                            </p:link>
                        </ui:repeat>
                    </div>
                </div>
            </div>
        </h:panelGroup>
    </ui:define>

</ui:composition>
