<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="windowTitle">
        Registration requests
    </ui:define>

    <ui:define name="content">
        <div class="ui-g-fluid">
            <h3 class="centerItem" style="text-align: center; margin-top: 10px">Registration requests</h3>
            <hr class="centerItem" style="margin-top: 10px; margin-bottom: 20px"/>
            <div class="centerItem">
                <h:form>
                    <p:growl id="infoGrowl" showDetail="true"/>
                    <p:dataTable value="#{registrationRequestController.requests}" var="regRequest" reflow="true" class="updateableTable"
                                 selection="#{registrationRequestController.selected}" selectionMode="single"
                                 stickyHeader="false" rowKey="#{regRequest.id}" id="requestTable" rows="10"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" paginator="true" paginatorAlwaysVisible="false">
                        <p:column headerText="Username">
                            <h:outputText value="#{regRequest.username}"/>
                        </p:column>
                        <p:column headerText="First name">
                            <h:outputText value="#{regRequest.firstName}"/>
                        </p:column>
                        <p:column headerText="Last name">
                            <h:outputText value="#{regRequest.lastName}"/>
                        </p:column>
                    </p:dataTable>
                    <p:contextMenu for="requestTable">
                        <p:menuitem value="Approve" icon="fa fa-check" actionListener="#{registrationRequestController.approve()}"
                                    update="requestTable infoGrowl menuForm:registrationRequestsLabel" oncomplete="removeExtraTable()"/>
                        <p:menuitem value="Reject" icon="fa fa-times" actionListener="#{registrationRequestController.reject()}"
                                    update="requestTable infoGrowl menuForm:registrationRequestsLabel" oncomplete="removeExtraTable()"/>
                    </p:contextMenu>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
