<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/userLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="windowTitle">
        Reservations
    </ui:define>

    <ui:define name="content">
        <style>
            .ui-datatable-data tr.ui-widget-content{
                border: 1px solid black !important;
            }
            
            tr.expired > td{
                background-color: #ef7a7a;
            }
            
            tr.purchased > td{
                background-color: #8db5eb;
            }
            
            tr.active > td{
                background-color: #b8eb8d;
            }
            
        </style>
        <div class="ui-g-fluid">
            <h3 class="centerItem" style="text-align: center; margin-top: 10px">Reservations</h3>
            <hr class="centerItem" style="margin-top: 10px; margin-bottom: 10px;"/>
            <div class="centerItem">
                <p:panelGrid columns="6" styleClass="ui-responsive" layout="grid" style="border:0px none;background:none">
                    <p:outputLabel style="color: #b8eb8d; background-color: #b8eb8d" value="======="/>
                    <p:outputLabel value="Active"/>

                    <p:outputLabel style="color: #8db5eb; background-color: #8db5eb" value="======="/>
                    <p:outputLabel value="Purchased"/>

                    <p:outputLabel style="color: #ef7a7a; background-color: #ef7a7a" value="======="/>
                    <p:outputLabel value="Expired"/>
                </p:panelGrid>
                <h:form id="reservationMgmtForm">
                    <p:dataTable id="reservationsTable" class="updateableTable" value="#{reservationManagementController.reservations}" var="currRes"
                                 paginator="true" rows="10" selectionMode="single" rowKey="#{currRes.id}"
                                 selection="#{reservationManagementController.selected}" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" reflow="true"
                                 rowStyleClass="#{currRes.expired ? 'expired' : currRes.purchased ? 'purchased' : 'active'}">   
                        <f:facet name="header">
                            Reservations
                            <p:commandButton id="toggler" type="button" icon="ui-icon-calculator"/>
                            <p:columnToggler datasource="reservationsTable" trigger="toggler"/>
                        </f:facet>
                        <p:column headerText="Festival">
                            <h:outputText value="#{currRes.festival.name}"/>
                        </p:column>
                        <p:column headerText="Start date">
                            <h:outputText value="#{currRes.festival.startDate}" >
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="For">
                            <h:outputText value='#{reservationManagementController.description(currRes)}'/>
                        </p:column>
                        <p:column headerText="Amount">
                            <h:outputText value="#{currRes.numOfTickets}"/>
                        </p:column>
                    </p:dataTable>
                    <p:contextMenu for="reservationsTable">
                        <p:menuitem value="View festival" icon="fa fa-eye" actionListener="#{reservationManagementController.viewFestival()}"/>
                        <p:menuitem value="Cancel" update="reservationMgmtForm menuForm:messages" icon="fa fa-times"
                                    actionListener="#{reservationManagementController.delete()}"
                                    rendered="#{!(reservationManagementController.selected.expired || reservationManagementController.selected.purchased)}"/>
                    </p:contextMenu>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
