<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="windowTitle">
        Sell tickets
    </ui:define>

    <ui:define name="content">
        <div class="ui-fluid">
            <h3 class="centerItem" style="margin-top: 10px; text-align: center">Sell tickets</h3>
            <hr class="centerItem" style="margin-top:10px; margin-bottom:10px"/>
            <div class="centerItem">
                <h:form id="sellTickets">
                    <p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8">
                        <p:outputLabel for="festival" value="Festival"/>
                        <p:selectOneMenu value="#{ticketsController.selectedFestivalName}" id="festival">
                            <p:ajax update="day ticketsLeft" process="@form"/>
                            <f:selectItems value="#{ticketsController.allFestivals}" var="festVar" itemLabel="#{festVar.name}" itemValue="#{festVar.name}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="ticketType" value="Type"/>
                        <p:selectOneMenu value="#{ticketsController.ticketType}" id="ticketType">
                            <p:ajax update="ticketsLeft" process="@form"/>
                            <f:selectItem itemLabel="Single day" itemValue="1"/>
                            <f:selectItem itemLabel="Whole fest" itemValue="2"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="day" value="Day"/>
                        <p:selectOneMenu value="#{ticketsController.day}" id="day">
                            <p:ajax update="ticketsLeft" process="@form"/>
                            <f:selectItems value="#{ticketsController.festDays}" var="oneDay" itemLabel="#{oneDay}" itemValue="#{oneDay}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="amount" value="Amount"/>
                        <p:spinner value="#{ticketsController.amount}" min="1" id="amount"/>
                        
                        <p:outputLabel for="ticketsLeft" value="Tickets left"/>
                        <h:outputText value="#{ticketsController.ticketsLeft()}" id="ticketsLeft"/>
                        
                        <p:graphicImage library="images" name="ajax-load.gif" width="100%" height="auto" id="loadingImg" style="visibility: hidden"/>
                        <p:commandButton value="Sell" update="menuForm:messages ticketsLeft" actionListener="#{ticketsController.sellTickets()}"
                                         onstart="viewLoadingImage('sellTickets:loadingImg')" oncomplete="hideLoadingImage('sellTickets:loadingImg');"/>
                    </p:panelGrid>
                    
                </h:form>
            </div>

            <h4 class="centerItem" style="margin-top: 10px; text-align: center">Reservations</h4>
            <hr class="centerItem" style="margin-top:10px; margin-bottom:10px"/>

            <div class="centerItem">
                <h:form id="searchForm">
                    <p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8">
                        <p:outputLabel for="festName" value="Festival"/>
                        <p:inputText id="festName" value="#{ticketsController.festName}"/>
                        <p:outputLabel for="user" value="User"/>
                        <p:inputText id="user" value="#{ticketsController.username}"/>

                        <p:graphicImage library="images" name="ajax-load.gif" width="100%" height="auto" id="searchLoadingImg" style="visibility: hidden"/>
                        <p:commandButton value="Search" update="resForm:reservationsTable" actionListener="#{ticketsController.search()}"
                                         onstart="viewLoadingImage('searchForm:searchLoadingImg')" oncomplete="hideLoadingImage('searchForm:searchLoadingImg'); removeExtraTable()"/>
                    </p:panelGrid>
                </h:form>
                <h:form id="resForm">
                    <p:dataTable id="reservationsTable" class="updateableTable" value="#{ticketsController.reservations}" var="currRes" reflow="true"
                                 paginator="true" rows="10" selectionMode="single" stickyHeader="false" rowKey="#{currRes.id}"
                                 selection="#{ticketsController.selected}" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">   
                        <p:column headerText="Festival">
                            <h:outputText value="#{currRes.festival.name}"/>
                        </p:column>
                        <p:column headerText="User">
                            <h:outputText value="#{currRes.user.displayName}"/>
                        </p:column>
                        <p:column headerText="For">
                            <h:outputText value="#{ticketsController.description(currRes)}"/>
                        </p:column>
                        <p:column headerText="Amount">
                            <h:outputText value="#{currRes.numOfTickets}"/>
                        </p:column>
                    </p:dataTable>
                    <p:contextMenu for="reservationsTable">
                        <p:menuitem value="Sell" icon="fa fa-shopping-cart" actionListener="#{ticketsController.confirmReservation()}"
                                    update="reservationsTable menuForm:messages" oncomplete="removeExtraTable()"/>
                    </p:contextMenu>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
