<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templates/adminLayout.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="windowTitle">
        Upload requests
    </ui:define>

    <ui:define name="content">
        
        <div class="ui-g-fluid">
            <h3 class="centerItem" style="margin-top: 10px; text-align:center">Upload requests</h3>
            <hr class="centerItem" style="margin-top: 5px; margin-bottom:10px"/>
            <div class="centerItem">
                <h:form id="requestsForm">
                    <p:dataTable id="requestsDataTable" class="updateableTable" value="#{uploadRequestController.requests}" var="uploadReq" reflow="true"
                                 paginator="true" rows="10" selectionMode="single" stickyHeader="false" rowKey="#{uploadReq.id}"
                                 selection="#{uploadRequestController.selected}" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">  
                        <p:ajax event="rowSelect" oncomplete="updateFilePreview()"/>
                        <p:column headerText="User">
                            <h:outputText value="#{uploadReq.user.username}"/>
                        </p:column>
                        <p:column headerText="Size">
                            <h:outputText value="#{uploadReq.size/1024}">
                                <f:convertNumber minFractionDigits="0" maxFractionDigits="2"/>
                            </h:outputText>
                            <h:outputText value=" KB"/>
                        </p:column>
                        <p:column headerText="Type">
                            <h:outputText value="#{uploadReq.isVideo ? 'Video' : 'Image'}"/>
                        </p:column>
                    </p:dataTable>
                    <p:contextMenu for="requestsDataTable">
                        <p:menuitem value="View" icon="fa fa-eye" oncomplete="updateFilePreview()"/>
                        <p:menuitem value="Approve" icon="fa fa-check"
                                    actionListener="#{uploadRequestController.approve()}"
                                    update="menuForm:messages requestsForm:requestsDataTable menuForm:uploadRequestsLabel"
                                    oncomplete="removeExtraTable(); updateFilePreview()"/>
                        <p:menuitem value="Reject" icon="fa fa-times" actionListener="#{uploadRequestController.reject()}"
                                    update="menuForm:messages requestsForm:requestsDataTable menuForm:uploadRequestsLabel"
                                    oncomplete="removeExtraTable(); updateFilePreview()"/>
                    </p:contextMenu>
                    <p:remoteCommand name="updateFilePreview" update="filePreview" />
                    <p:outputPanel id="filePreview">
                        <p:outputLabel value="#{uploadRequestController.selected.name}" rendered="#{not empty uploadRequestController.selected}"/>
                        <p:outputPanel rendered="#{not empty uploadRequestController.selected and !uploadRequestController.selected.isVideo}">
                            <p:graphicImage value="#{imageController.image}" title="#{uploadRequestController.selected.name}" alt="#{uploadRequestController.selected.name}"
                                            style="margin:auto" height="300px" width="auto">
                                <f:param name="fileId" value="#{uploadRequestController.selected.id}"/>
                            </p:graphicImage>
                        </p:outputPanel>
                        <p:outputPanel rendered="#{not empty uploadRequestController.selected and uploadRequestController.selected.isVideo}">
                            <p:commandButton type="button" onclick='playPause("requestVideo")' icon="fa fa-play" value="Play/pause"/>
                            <p:commandButton type="button" onclick='stopVideo("requestVideo")' icon="fa fa-stop" value="Stop"/>
                            <video height="auto" style="margin: auto; width: 90% !important" autoplay="autoplay" id="requestVideo">
                                <source src="videos/#{uploadRequestController.selectedVideo.festivalName}/#{uploadRequestController.selectedVideo.fileName}"
                                        type="video/#{uploadRequestController.selectedVideo.type}"/>
                                Video not found.
                            </video>
                        </p:outputPanel>
                    </p:outputPanel>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
