/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2017, 2:29:40 PM
    Author     : Petar
*/



/* FONTS */
@font-face {
    font-family: 'Hallelujah';
    src: url("#{resource['fonts/Hallelujah.eot']}");
    src: url("#{resource['fonts/Hallelujah.eot?#iefix']}") format('embedded-opentype'),
        url("#{resource['fonts/Hallelujah.woff']}") format('woff'),
        url("#{resource['fonts/Hallelujah.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prisma';
    src: url("#{resource['fonts/Prisma.eot']}");
    src: url("#{resource['fonts/Prisma.eot?#iefix']}") format('embedded-opentype'),
        url("#{resource['fonts/Prisma.woff']}") format('woff'),
        url("#{resource['fonts/Prisma.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NuevoDisco';
    src: url("#{resource['fonts/NuevoDisco.eot']}");
    src: url("#{resource['fonts/NuevoDisco.eot?#iefix']}") format('embedded-opentype'),
        url("#{resource['fonts/NuevoDisco.woff']}") format('woff'),
        url("#{resource['fonts/NuevoDisco.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BeastModeBold';
    src: url("#{resource['fonts/BeastModeBold.eot']}");
    src: url("#{resource['fonts/BeastModeBold.eot?#iefix']}") format('embedded-opentype'),
        url("#{resource['fonts/BeastModeBold.woff']}") format('woff'),
        url("#{resource['fonts/BeastModeBold.ttf']}") format('truetype');
    font-weight: bold;
    font-style: normal;
    font-size: 410;
}



.header {
    background-color: #009688;
    color: white;
    font-family: 'BeastModeBold';
    height: 100%;
    text-align: center;
    overflow: hidden !important;
}

.footer{
    background-color: #009688;
    color: white;
    font-family: 'NuevoDisco';
    height: 100%;
    text-align: center;
    overflow: hidden !important;
    margin: 0;
}

div.ui-grid-row{
    border-bottom: none;
}

tr.ui-widget-content {
    border: none;
}

.ui-panelgrid-cell {
    border: none !important;
}

#mobile-menu-btn{
    display: inline-block;
    font-size: 36px;
    margin-left: 24px;
    color: white;
    padding: 0;
    margin-top: 15px;
}

#mobile-menu-btn:active{
    color: #c1ffe2;
}

#westUnit {
    overflow: hidden !important;
    overflow-y: auto !important;
}

@media(min-width: 980px){
    #mobile-menu-btn {
        display: none;
    }

    #mobileMenu {
        display: none;
    }
}

#googleSigninForm button {
    max-height: 1px !important;
}

#googleSigninForm input {
    max-width: 3px !important;
}

.g-signin2 {
    margin-left: 40px !important;
}

#googleSigninForm{
    overflow: hidden !important;
}

.ui-layout-unit-expand-icon{
    visibility: hidden;
}

.ui-layout-unit-header-icon{
    visibility: hidden;
}

@media(max-width: 980px){

    #westUnit {
        z-index: 2 !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }

    .ui-menu {
        overflow: visible !important;
    }

    #centerUnit {
        left: 0 !important;
        position: absolute;
        overflow: scroll !important;
    }

    #largerScreenMenu{
        display: none;
    }
}

#sidemenu{
    background-color: #83d0c9;
}

#northUnit > .ui-layout-unit-content {
    padding: 0;
}

#southUnit > .ui-layout-unit-content {
    padding: 0;
}

#westUnit > .ui-layout-unit-content {
    background-color: #e7e7e7 !important;    
}

#westUnit {
    background-color: #e7e7e7 !important;    
}

.ui-menu-list > .ui-widget-header {
    background-color: #abddd8 !important;
}

.ui-menu-list li a {
    display: block;
}

.ui-menu-list li a:hover, .ui-menu-list li a:focus {
    background: #cceae7 !important;
    color: #4f6765 !important;
}

.ui-datepicker-inline {
    width: 90%;
}

.errorMessage {
    color: red;
    font-size: 14px !important;
}

.ui-steps .ui-steps-item {
    width: 30%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.customSteps {
    margin-bottom: 30px;
}

.ui-steps.customSteps .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.customSteps .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.ui-steps.customSteps .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}

.addFestStep{
    width: 90%;
    margin: auto;
}

.centerItem{
    max-width: 750px;
    text-align: left;
    margin:auto;
}

.ui-message-error {
    background-color: white;
    border: none;
    width: 100%;
}

.ui-message-error-icon {
    display: none;
}

.ui-message-error-detail {
    width: 100%
}