<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <meta name="google-signin-client_id" content="521349229736-37ofti9dl080g43stko335kotj79c02i.apps.googleusercontent.com"/>
        <h:outputScript library="js" name="script.js"/>
        <title>
            <ui:insert name="windowTitle">
                Default title
            </ui:insert>
        </title>
    </h:head>

    <h:body onload="resized()">
        <f:view>
            <f:metadata>
                <f:event listener="#{authController.authenticateUser}" type="preRenderView"/>
            </f:metadata>
            <h:outputStylesheet library="css" name="style.css"/>
            <h:form>
                <p:remoteCommand name="updateLoginDialog" update="loginModalDialog"/>
            </h:form>
            <p:layout fullPage="true" widgetVar="layoutWidget">
                <p:ajax event="resize" oncomplete="resized();"/>
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true" style="padding-bottom: 0" id="northUnit">
                    <ui:insert name="header">
                        <ui:include src="../sections/header.xhtml"/>
                    </ui:insert>
                </p:layoutUnit>  
                <p:layoutUnit position="west" size="258" collapsible="true" id="westUnit">
                    <ui:insert name="menu">
                        <ui:include src="../sections/menu.xhtml"/>
                    </ui:insert>
                </p:layoutUnit>
                <p:layoutUnit position="center" size="" id="centerUnit">
                    <ui:insert name="content">Content</ui:insert>
                </p:layoutUnit>
                <p:layoutUnit position="south" size="50" resizable="true" closable="true" collapsible="true" id="southUnit">
                    <ui:insert name="footer">
                        <ui:include src="../sections/footer.xhtml"/>
                    </ui:insert>
                </p:layoutUnit>
            </p:layout>
        </f:view>
        
        <script src="https://apis.google.com/js/platform.js" async="async" defer="defer"/>
    </h:body>

    <script>
        $(document).ready(function () {
            removeExtraTable();
            signOut();
        });

    </script>
</html>
