<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <style>
                .ui-panelgrid>*>tr,
                .ui-panelgrid .ui-panelgrid-cell {
                    border: none;
                }
            </style>
            <div class="ui-fluid" style="margin: auto; max-width: 600px">
                <h2 style="text-align:center">Administrator Login</h2>
                <h:form id="adminLoginForm">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8" class="ui-fluid" style="width:90%; margin:auto">
                        <p:outputLabel value=""/>
                        <p:outputLabel value="#{adminLoginController.errorMessage}" styleClass="errorMessage" id="adminLoginErrorMessage"/>
                        
                        <p:outputLabel for="username" value="Username"/>
                        <p:inputText id="username" value="#{adminLoginController.username}"
                                     required="true"
                                     requiredMessage="Username is required"/>

                        <p:outputLabel id="dummyLabelUname" value=""/>
                        <h:message for="username" styleClass="errorMessage"/>

                        <p:outputLabel for="password" value="Password"/>
                        <p:password id="password" value="#{adminLoginController.password}"
                                    required="true"
                                    requiredMessage="Password is required"/>

                        <p:outputLabel id="dummyLabelPass" value=""/>
                        <h:message for="password" styleClass="errorMessage"/>

                        <p:graphicImage id="adminLoginLoading" library="images" name="ajax-load.gif" width="100%" height="auto" style="visibility: hidden"/>
                        <p:commandButton value="Login" process="@form"
                                         actionListener="#{adminLoginController.login()}"
                                         onstart="viewLoadingImage('adminLoginForm:adminLoginLoading')"
                                         oncomplete="hideLoadingImage('adminLoginForm:adminLoginLoading')"
                                         update="adminLoginErrorMessage"/>
                    </p:panelGrid>                    
                </h:form>
            </div>
        </ui:composition>
    </h:body>
</html>

