<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form id="menuForm">
                <p:growl id="messages" showDetail="true"/>
                <p:menu toggleable="true">
                    <p:submenu label="Festivals">
                        <p:menuitem value="Home" action="adminHome?faces-redirect=true" icon="fa fa-home"/>
                        <p:menuitem value="Add festival" action="addFestivalBasicInfo?faces-redirect=true" icon="ui-icon-circle-plus"/>
                        <p:menuitem value="Import festival" action="importFestival?faces-redirect=true" icon="fa fa-file"/>
                        <p:menuitem value="Search" icon="ui-icon-search" action="adminSearch?faces-redirect=true"/>
                        <p:menuitem value="Sell tickets" icon="ui-icon-cart" action="tickets?faces-redirect=true"/>
                        <p:menuitem icon="fa fa-upload" style="overflow: hidden" action="uploadRequests?faces-redirect=true">
                            <p:outputLabel value="Upload requests "/>
                            <p:outputPanel id="uploadRequestsLabel" style="display:inline-block">
                                <p:outputPanel style=" display: inline-block;
                                               padding:2px;
                                               border-radius: 5px;
                                               color:white !important;
                                               background-color: red" rendered="#{uploadRequestController.numberOfRequests > 0}">
                                    #{uploadRequestController.numberOfRequests > 10 ? '10+' : uploadRequestController.numberOfRequests}
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:poll interval="300" listener="#{uploadRequestController.update()}" update="uploadRequestsLabel"/>
                        </p:menuitem>
                    </p:submenu>
                    <p:submenu label="Users">
                        <p:menuitem icon="ui-icon-contact" style="overflow: hidden" action="registrationRequests?faces-redirect=true">
                            <p:outputLabel value="Sign up requests "/>
                            <p:outputPanel id="registrationRequestsLabel" style="display:inline-block">
                                <p:outputPanel style=" display: inline-block;
                                               padding:2px;
                                               border-radius: 5px;
                                               color:white !important;
                                               background-color: red" rendered="#{registrationRequestController.numberOfRequests > 0}">
                                    #{registrationRequestListener.numberOfRequests > 10 ? '10+' : registrationRequestController.numberOfRequests}
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:poll interval="300" listener="#{registrationRequestController.update()}" update="registrationRequestsLabel"/>
                        </p:menuitem>
                        <p:menuitem icon="fa fa-clock-o" action="loginLog?faces-redirect=true" value="Login log"/>
                    </p:submenu>
                    <p:submenu label="Account">
                        <p:menuitem value="Change password" oncomplete="PF('changePassDialog').show()" icon='fa fa-edit'/>
                        <p:menuitem value="Log out" action="#{adminLogoutController.logout()}" ajax="false" icon="ui-icon-circle-arrow-w"/>
                    </p:submenu>
                </p:menu>
                <hr />
                <p:calendar mode="inline" styleClass="menuCalendar" id="menuCalendar">
                    <p:ajax event="dateSelect" listener="#{calendarListener.calendarChangeListener}"/>
                </p:calendar>
            </h:form>

            <p:dialog header="Change password" widgetVar="changePassDialog" modal="true" height="300" width="auto"
                      appendTo="@(body)" resizable="false" responsive="true" draggable="false" fitViewport="true" position="center center"
                      style="left: 50%" id="changePassModalDialog" visible="#{facesContext.validationFailed}" closable="true" closeOnEscape="true">
                <h:form id="changePassForm">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8">
                        <p:outputLabel value=""/>
                        <p:outputLabel id="changePassErrorMessage" value="#{changePasswordController.errorMessage}" styleClass="errorMessage"/>

                        <p:outputLabel for="currentPassword" value="Current password"/>
                        <p:password id="currentPassword" value="#{changePasswordController.currentPassword}"
                                    required="true" requiredMessage="Current password is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="currentPassword" styleClass="errorMessage"/>

                        <p:outputLabel for="newPassword" value="New password"/>
                        <p:password id="newPassword" value="#{changePasswordController.newPassword}"
                                    required="true" requiredMessage="New password is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="newPassword" styleClass="errorMessage"/>

                        <p:outputLabel for="confirmPassword" value="Confirm password"/>
                        <p:password id="confirmPassword" value="#{changePasswordController.confirmPassword}"
                                    required="true" requiredMessage="Confirmation is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="confirmPassword" styleClass="errorMessage"/>

                        <p:graphicImage id="changePassLoading" library="images" name="ajax-load.gif" width="100%" height="auto" style="visibility: hidden"/>
                        <p:commandButton value="Change" process="@form"
                                         actionListener="#{changePasswordController.change(true)}"
                                         onstart="viewLoadingImage('changePassForm:changePassLoading')"
                                         oncomplete="hideLoadingImage('changePassForm:changePassLoading');handleChangePassRequest(xhr, status, args)"
                                         update="changePassErrorMessage changePassModalDialog"/>
                    </p:panelGrid>
                </h:form>
            </p:dialog>
        </ui:composition>
    </h:body>
</html>

