<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition>
            <div class="ui-fluid header" style="margin-bottom: 0" id="largerScreenMenu">
                <div class="ui-g-5 ui-md-5 ui-lg-5">
                    <img src="resources/images/music-distro-silhouette.png" height="70px" width="auto" style="z-index: -1"/>
                    <img src="resources/images/crowd.png" height="70px" width="auto" style="z-index: -1"/>
                    <img src="resources/images/8T6okkMRc.png" height="70px" width="auto" style="z-index: -1"/>

                </div>
                <div class="ui-g-2 ui-md-2 ui-lg-2">
                    <h1 style="font-family: 'BeastModeBold'; text-align:center; font-size: 50px; margin: 0; display:inline-block; z-index: 100">ETFest</h1>
                </div>
                <div class="ui-g-5 ui-md-5 ui-lg-5">
                    <img src="resources/images/Music-PNG-Picture.png" height="70px" width="auto"/>
                    <img src="resources/images/1337700025463135337Break_dance.svg" height="70px" width="auto"/>
                    <img src="resources/images/woman-dancing-silhouette-image-11.png" height="70px" width="auto" style="z-index: -1"/>
                    <img src="resources/images/Band-PNG-Free-Download.png" height="70px" width="auto" style="z-index: -1"/>
                    <img src="resources/images/DJ-Music-1200x800.png" height="70px" width="auto" style="z-index: -1"/>
                    
                </div>
            </div>
            
            <div class="ui-fluid header" style="margin-bottom: 0" id="mobileMenu">
                <div class="ui-g-2 ui-md-2 ui-lg-1">
                    <a id="mobile-menu-btn" href="#" onclick="toggleMenu();">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="ui-g-10 ui-md-10 ui-lg-11">
                    <h1 style="font-family: 'BeastModeBold'; text-align:center; font-size: 50px; margin: 0; display:inline-block; ">ETFest</h1>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

