<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form id="menuForm">
                <p:growl id="messages" showDetail="true"/>
                <p:menu toggleable="true">
                    <p:submenu label="Festivals">
                        <p:menuitem value="Home" icon="ui-icon-home" action="index?faces-redirect=true"/>
                        <p:menuitem value="Search" icon="ui-icon-search" action="userSearch?faces-redirect=true"/>
                    </p:submenu>
                    <p:submenu label="Account">
                        <p:menuitem icon="fa fa-envelope" style="overflow: hidden" action="messages?faces-redirect=true" rendered="#{authController.user}" global="false">
                            <p:outputLabel value="Messages "/>
                            <p:outputPanel id="messageRequestLabel" style="display:inline-block">
                                <p:outputPanel style=" display: inline-block;
                                               padding:2px;
                                               border-radius: 5px;
                                               color:white !important;
                                               background-color: red" rendered="#{messagesController.unreadMessages > 0}">
                                    #{messagesController.unreadMessages > 10 ? '10+' : messagesController.unreadMessages}
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:poll interval="300" listener="#{messagesController.update()}" update="messageRequestLabel"/>
                        </p:menuitem>
                        <p:menuitem value="Log in" icon="ui-icon-unlocked" oncomplete="PF('loginDialog').show();" rendered="#{!authController.user}" global="false"/>
                        <p:menuitem value="Sign up" icon="ui-icon-pencil" oncomplete="PF('signUpDialog').show();" rendered="#{!authController.user}" global="false"/>
                        <p:menuitem value="Reservations" icon="fa fa-music" action="reservations?faces-redirect=true" rendered="#{authController.user}" global="false"/>
                        <p:menuitem value="Change password" oncomplete="PF('changePassDialog').show()" icon='fa fa-edit' rendered="#{authController.user}" global="false"/>
                        <p:menuitem value="Log out" icon="ui-icon-circle-arrow-w" action="#{userLogoutController.logout()}" rendered="#{authController.user}" global="false"
                                    onsuccess="signOut()"/>
                    </p:submenu>
                    <p:submenu label="Google login" rendered="#{!authController.user}">
                        <p:menuitem rendered="#{!authController.user}">
                            <div class="g-signin2" data-onsuccess="onSignIn" style="margin-left: 40px !important"></div>
                        </p:menuitem>
                    </p:submenu>
                </p:menu>
                <hr />
                <p:calendar mode="inline" styleClass="menuCalendar" id="menuCalendar">
                    <p:ajax event="dateSelect" listener="#{calendarListener.calendarChangeListener}"/>
                </p:calendar>
            </h:form>
            <div style="width:50%; max-height: 10px !important; overflow: hidden !important">
                <h:form id="googleSigninForm" style='visibility: hidden; width: 50%'>
                    <p:inputText value="#{userLoginController.idTokenString}" id='idToken' style="visibility: hidden; max-width: 20px !important;"/>
                    <p:commandButton id="googleLoginButton" action="#{userLoginController.login()}" style="visibility: hidden"
                                     process="@form"
                                     update="menuForm:messages"
                                     onstart="signOut()"/>
                </h:form>
            </div>
            <p:dialog header="Log in" widgetVar="loginDialog" modal="true" height="200" width="auto" showEffect="click" hideEffect="fold"
                      appendTo="@(body)" resizable="false" responsive="true" draggable="false" fitViewport="true" position="center center"
                      style="left: 50%" id="loginModalDialog" visible="#{facesContext.validationFailed}" closable="true" closeOnEscape="true"
                      dynamic="true">
                <h:form id='loginForm'>
                    <p:outputLabel id="loginErrorMessage" value="#{userLoginController.errorMessage}" styleClass="errorMessage"/>
                    <h:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" style="width: 90%">
                        <p:outputLabel for="username" value="Username"/>
                        <p:inputText id="username" value="#{userLoginController.username}" required="true" requiredMessage="Username is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="username" styleClass="errorMessage"/>

                        <p:outputLabel for="password" value="Password"/>
                        <p:password id="password" value="#{userLoginController.password}" required="true" requiredMessage="Password is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="password" styleClass="errorMessage"/>


                        <p:graphicImage id="loginLoading" library="images" name="ajax-load.gif" width="100%" height="auto" style="display: none; margin: auto"/>
                        <p:commandButton value="Log in" actionListener="#{userLoginController.login()}"
                                         process="@form" update="loginErrorMessage loginForm" onstart="showImage('loginForm:loginLoading')"
                                         oncomplete="handleLoginRequest(xhr, status, args)" global="false"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
            <p:dialog header="Sign up" widgetVar="signUpDialog" modal="true" height="400" width="auto" showEffect="click" hideEffect="fold"
                      appendTo="@(body)" resizable="false" responsive="true" draggable="false" fitViewport="true" position="center center"
                      style="left: 50%" id="signUpModalDialog" visible="#{facesContext.validationFailed}" closable="true" closeOnEscape="true">
                <h:form id='signupForm'>
                    <p:outputLabel id="signUpErrorMessage" value="#{registerController.errorMessage}" styleClass="errorMessage"/>
                    <h:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" style="width: 90%">
                        <p:outputLabel for="username" value="Username"/>
                        <p:inputText id="username" value="#{registerController.username}" required="true" requiredMessage="Username is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="username" styleClass="errorMessage"/>

                        <p:outputLabel for="password" value="Password"/>
                        <p:password id="password" value="#{registerController.password}" required="true" requiredMessage="Password is required"
                                    validatorMessage="Password must start with a letter, and have no more than two consecutive letters">
                            <f:validateRegex pattern="^[a-zA-Z]{1,2}[^a-zA-Z]+((?:[a-zA-Z]{0,2}[^a-zA-Z]+)*|[a-zA-Z]{0,2})$"/>                            
                        </p:password>
                        <p:outputLabel value=""/>
                        <p:message for="password" styleClass="errorMessage"/>

                        <p:outputLabel for="confirmPassword" value="Confirm password"/>
                        <p:password id="confirmPassword" value="#{registerController.confirmPassword}" required="true" requiredMessage="Confirmation is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="confirmPassword" styleClass="errorMessage"/>

                        <p:outputLabel for="firstName" value="First name"/>
                        <p:inputText id="firstName" value="#{registerController.firstName}" required="true" requiredMessage="First name is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="firstName" styleClass="errorMessage"/>

                        <p:outputLabel for="lastName" value="Last name"/>
                        <p:inputText id="lastName" value="#{registerController.lastName}" required="true" requiredMessage="Last name is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="lastName" styleClass="errorMessage"/>

                        <p:outputLabel for="email" value="Email"/>
                        <p:inputText id="email" value="#{registerController.email}" required="true" requiredMessage="Email is required"
                                     validatorMessage="Not a valid email">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                        </p:inputText>
                        <p:outputLabel value=""/>
                        <p:message for="email" styleClass="errorMessage"/>

                        <p:outputLabel for="phone" value="Phone"/>
                        <p:inputText id="phone" value="#{registerController.phone}" required="true" requiredMessage="Phone is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="phone" styleClass="errorMessage"/>

                        <p:graphicImage id="registerLoading" library="images" name="ajax-load.gif" width="100%" height="auto" style="display: none"/>
                        <p:commandButton value="Sign up" actionListener="#{registerController.register()}"
                                         process="@form" update="signUpErrorMessage signUpModalDialog" onstart="showImage('signupForm:registerLoading')"
                                         oncomplete="handleRegisterRequest(xhr, status, args)" global="false"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <p:dialog header="Change password" widgetVar="changePassDialog" modal="true" height="300" width="auto"
                      appendTo="@(body)" resizable="false" responsive="true" draggable="false" fitViewport="true" position="center center"
                      style="left: 50%" id="changePassModalDialog" visible="#{facesContext.validationFailed}" closable="true" closeOnEscape="true">
                <h:form id="changePassForm">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8">
                        <p:outputLabel value=""/>
                        <p:outputLabel id="changePassErrorMessage" value="#{changePasswordController.errorMessage}" styleClass="errorMessage"/>

                        <p:outputLabel for="currentPassword" value="Current password"/>
                        <p:password id="currentPassword" value="#{changePasswordController.currentPassword}"
                                    required="true" requiredMessage="Current password is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="currentPassword" styleClass="errorMessage"/>

                        <p:outputLabel for="newPassword" value="New password"/>
                        <p:password id="newPassword" value="#{changePasswordController.newPassword}"
                                    required="true" requiredMessage="New password is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="newPassword" styleClass="errorMessage"/>

                        <p:outputLabel for="confirmPassword" value="Confirm password"/>
                        <p:password id="confirmPassword" value="#{changePasswordController.confirmPassword}"
                                    required="true" requiredMessage="Confirmation is required"/>
                        <p:outputLabel value=""/>
                        <p:message for="confirmPassword" styleClass="errorMessage"/>

                        <p:graphicImage id="changePassLoading" library="images" name="ajax-load.gif" width="100%" height="auto" style="visibility: hidden"/>
                        <p:commandButton value="Change" process="@form"
                                         actionListener="#{changePasswordController.change(false)}"
                                         onstart="viewLoadingImage('changePassForm:changePassLoading')"
                                         oncomplete="hideLoadingImage('changePassForm:changePassLoading');handleChangePassRequest(xhr, status, args)"
                                         update="changePassErrorMessage changePassModalDialog"/>
                    </p:panelGrid>
                </h:form>
            </p:dialog>


            <h:outputScript>
            </h:outputScript>
        </ui:composition>
    </h:body>
</html>

