<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Sign Up</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="3">
                <p:outputLabel for="username" value="Username"/>
                <p:inputText id="username" placeholder="Username"
                             required="true"
                             requiredMessage="This field is required"/>
                <p:message for="username" styleClass="errorMessage"/>
                
                <p:outputLabel for="password" value="Password"/>
                <p:password id="password" placeholder="Password"
                             required="true"
                             requiredMessage="This field is required"/>
                <p:message for="password" styleClass="errorMessage"/>
                
                <p:outputLabel for="rptPassword" value="Repeat password"/>
                <p:password id="rptPassword" placeholder="Repeat password"
                             required="true"
                             requiredMessage="This field is required"/>
                <p:message for="rptPassword" styleClass="errorMessage"/>

                <p:outputLabel for="firstName" value="First name"/>                
                <p:inputText id="firstName" placeholder="First name"
                             required="true"
                             requiredMessage="This field is required"/>
                <p:message for="firstName" styleClass="errorMessage"/>
                
                <p:outputLabel for="lastName" value="Last name"/>
                <p:inputText id="lastName" placeholder="Last name"
                             required="true"
                             requiredMessage="This field is required"/>
                <p:message for="lastName" styleClass="errorMessage"/>
                
                <p:outputLabel for="email" value="Email"/>
                <p:inputText id="email" placeholder="Email"
                             required="true"
                             requiredMessage="This field is required"/>
                <p:message for="email" styleClass="errorMessage"/>
                
                <p:outputLabel for="phone" value="Phone number"/>
                <p:inputText id="phone" placeholder="Phone number"
                             required="true"
                             requiredMessage="This field is required"/>
                <p:message for="phone" styleClass="errorMessage"/>
            </p:panelGrid>
            <p:commandButton value="Sign up"/>
        </h:form>
    </h:body>
</html>

