<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup id="searchContainer">
        <div class="ui-fluid">
            <h3 class="centerItem" style="margin-top: 20px;"> Search festivals</h3>
            <hr class="centerItem" style="margin-bottom: 20px;"/>
            <div class="ui-g centerItem">
                <h:form id="searchFest" style="width:100%">
                    <div class="ui-g" style="width:100%">
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:outputLabel for="name" value="Name"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:inputText id="name" value="#{searchFestivalController.name}"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:outputLabel for="place" value="Place"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:inputText id="place" value="#{searchFestivalController.place}"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:outputLabel for="dateFrom" value="Date from"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:calendar id="dateFrom" effect="fold" value="#{searchFestivalController.dateFrom}" pattern="dd.MM.yyyy.">
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                            </p:calendar>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:outputLabel for="dateTo" value="Date to"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:calendar id="dateTo" effect="fold" value="#{searchFestivalController.dateTo}" pattern="dd.MM.yyyy.">
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                            </p:calendar>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:outputLabel for="performer" value="Performer"/>    
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:inputText id="performer" value="#{searchFestivalController.performer}"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <div id="loadingDiv" style="padding-top: 12px; display: none">
                                <p:graphicImage library="images" name="ajax-load.gif" width="100%" height="auto"/>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <p:commandButton value="Search"
                                             actionListener="#{searchFestivalController.search()}"
                                             oncomplete="removeExtraTable()"
                                             process="@form"
                                             update="@(.updateableTable)"/>    
                        </div>
                        <p:ajaxStatus onstart="showImage('loadingDiv');" onsuccess="hideImage('loadingDiv');" />

                    </div>
                </h:form>
                <h:form id="form">
                    <p:dataTable id="festivalTable" class="updateableTable" value="#{searchFestivalController.searchResults}" var="fest" reflow="true"
                                 paginator="true" rows="10" selectionMode="single" stickyHeader="false" rowKey="#{fest.name}-#{fest.place}-#{fest.startDate}-#{fest.endDate}"
                                 selection="#{searchFestivalController.selectedFestival}" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">                            
                        <p:column headerText="Name">
                            <h:outputText value="#{fest.name}"/>
                        </p:column>
                        <p:column headerText="Start">
                            <h:outputText value="#{fest.startDate}">
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="End">
                            <h:outputText value="#{fest.endDate}">
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy."/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                    <p:contextMenu for="festivalTable" rendered="#{authController.admin || authController.user}">
                        <p:menuitem value="View" icon="ui-icon-search" actionListener="#{searchFestivalController.view()}" rendered="#{authController.user}" global="false"/>
                        <p:menuitem value="Edit" icon="ui-icon-pencil" actionListener="#{searchFestivalController.view()}" rendered="#{authController.admin}" global="false"/>
                    </p:contextMenu>
                </h:form>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>
